<template>
  <el-row justify="center">
    <el-col :span="2">
      <el-affix>
        <el-image
          src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F201110%2F30%2F20111030154613_RNLxE.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671708812&t=27433681f6fec1c5a8aec45dbbb90984"
          style="height: 350px;width: 150px;float:left">
        </el-image>
      </el-affix>
    </el-col>
    <el-col :span="20">
      <el-row justify="center">
        <el-col :span="22">
          <el-card class="box-card" style=" margin-top:2%">
            <template #header>
              <div class="card-header">
                <el-row justify="center"> <span style="font-size:25px">{{ title }}</span>
                </el-row>
              </div>
            </template>
            <el-card v-for="(data, index) in datas" :key="data.id" style="margin-top:1%">
              <template #header>
                <div class="card-header">
                  <el-row justify="left"> <span style="color: red; ">*</span>
                    <span style="font-size: large; ">{{ data.id }}.{{ data.questionContent }}?</span>
                  </el-row>
                </div>
              </template>
              <!--            选择题-->
              <div v-if="data.type === 1" style="margin-left: calc(1vw)">
                <el-radio-group v-model="answer[index].answer">
                  <div v-for="(opt, opt_index) in data.opts" :key="opt.optId">
                    <el-radio style="margin-left:15px" :label="opt_index" size="large">{{ opt.content }}</el-radio>
                  </div>
                </el-radio-group>
              </div>
              <div v-if="data.type === 2" style="margin-left: calc(1vw)">
                <el-input autosize type="textarea" placeholder="请输入答案" v-model="answer[index].answer"></el-input>
              </div>
            </el-card>
            <el-divider />
            <el-row justify="center">
              <router-link to="/success1"></router-link>
              <el-button v-if="state === 1" @click="handleClose" type="primary">提交问卷</el-button>
              <el-button v-if="state === 0">
                <router-link to="/createQuestionnaire">
                  返回上一页
                </router-link>
              </el-button>
            </el-row>
          </el-card>
        </el-col>

      </el-row>

    </el-col>
    <el-col :span="2">
      <el-affix>
        <el-image
          src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F201110%2F30%2F20111030154613_RNLxE.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671708812&t=27433681f6fec1c5a8aec45dbbb90984"
          style="height: 350px;width: 150px;float:left">
        </el-image>
      </el-affix>
    </el-col>
  </el-row>
</template>
<script lang="ts" setup>
import { ElMessage, ElMessageBox } from 'element-plus'
import { onBeforeMount, onMounted } from "vue";
import { ref } from "vue";
import { getQuestionnaire, submitQuestionnaire } from "@/api/questionnaire";
import { useStore } from "vuex";
import router from "@/router";
const store = useStore();
const dialogVisible = ref(false)
//初始数据必须要加上然后在初始化的时候删除，不然会报错
//用户ID，最后从store取
const personID = ref('')
const handleClose = (done) => {
  ElMessageBox.confirm('Are you sure to close this dialog?')
    .then(() => {
      done()
    })
    .catch(() => {
      // catch error
    })
}
const state = ref(1)//标记问卷是处于回答还是预览，0是预览，1是提交
const datas = ref([
  {
    id: 1,
    type: 2,
    questionContent: "222",
    opts: []
  }, {
    id: 1,
    type: 1,
    questionContent: "123",
    opts: [{
      optId: 0,
      content: "123"
    },
    {
      optId: 1,
      content: "234"
    }
    ]
  },
  {
    id: 2,
    type: 2,
    questionContent: "222",
    opts: []
  }, {
    id: 1,
    type: 1,
    questionContent: "123",
    opts: [{
      optId: 0,
      content: "123"
    },
    {
      optId: 1,
      content: "234"
    }
    ]
  },
  {
    id: 2,
    type: 2,
    questionContent: "222",
    opts: []
  }
])
const answer = ref([
  {
    id: 1,
    type: 1,
    answer: ""
  }
])
const title = ref("lyxwrnxr")
const questionId = ref('111')
const initAnswerList = () => {
  answer.value = []
  for (let i = 0; i < datas.value.length; i++) {
    answer.value.splice(answer.value.length, 0, {
      id: answer.value.length + 1,
      type: datas.value[i].type,
      answer: null
    })
  }
  datas.value[0].id = 1
  for (let i = 1; i < datas.value.length; i++) {
    datas.value[i].id = datas.value[i - 1].id + 1
  }
}
onBeforeMount(() => {
  state.value = store.state.questionnaire.state0
  if (state.value == 1) {
    // 实际运行时取消注释
    // datas.value.splice(0,2)
    // let url = window.location.href;
    // let str = url.split("/");
    // let question_id = str[str.length - 1];
    // console.log(question_id);
    // // getQuestionnaire({ questionnaire_id: question_id }).then(function (
    // //     res
    // // ) {
    // //   title.value=res.title
    // //   questionId.id=res.uuid
    // //   datas.value=res.data
    // // });
    // console.log(question_id)
    if (true) {
      datas.value =
        [
          {
            id: 1,
            type: 1,
            questionContent: "你的性别是",
            opts: [{
              optId: 0,
              content: "男"
            },
            {
              optId: 1,
              content: "女"
            },
            {
              optId: 2,
              content: "保密"
            }]
          },
          {
            id: 2,
            type: 2,
            questionContent: "你觉得浑南的食堂如何",
            opts: [{
              optId: 0,
              content: "好吃"
            },
            {
              optId: 1,
              content: "一般"
            },
            {
              optId: 2,
              content: "难吃"
            }]
          }
        ]
      title.value = "浑南食堂情况调研"
      console.log(datas.value)
    }
  } else if (state.value === 0) {
    console.log(111)
    datas.value = store.state.questionnaire.datas
    title.value = store.state.questionnaire.title
  }
  initAnswerList()
  console.log(datas)
})

const submit = async () => {
  let form = {
    uid: personID,
    answer_data: answer
  }
  await submitQuestionnaire(form).then(function (res) {
    //待补充
  })
}

const count = ref(0)
const submit2 = () => {
  if (count.value === 0) {
    ElMessage({
      showClose: true,
      message: '提交成功',
      type: 'success',
    })
    count.value++
    router.push('success2')
  } else {
    ElMessage({
      showClose: true,
      message: '您已成功提交，请勿重复提交',
      type: 'success',
    })
  }

}
</script>
  
<style scoped>

</style>
<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>