<template>
  <el-drawer v-model="drawer" @close="$emit('close')" size='15%' :with-header="false" direction="ltr">
    <el-row class="tac">
      <el-col>
        <h5 class="mb-2"> 请选择功能</h5>
        <el-menu class="el-menu-vertical-demo" router>
          <el-menu-item index="/v2/tenant/self">
            <el-icon>
              <document />
            </el-icon>
            <span>个人资料</span>
          </el-menu-item>
          <el-menu-item  index="/v2/tenant/consumer">
            <el-icon>
              <document />
            </el-icon>
            <span>用户总览</span>
          </el-menu-item>
          <el-menu-item  index="/v2/tenant/ctree">
            <el-icon>
              <document />
            </el-icon>
            <span>用户详情</span>
          </el-menu-item>
        </el-menu>
      </el-col>
    </el-row>
  </el-drawer>
</template>
  
<script  setup>

import { ref, computed } from 'vue'
import {
  Document,
  Menu as IconMenu,
  Location,
  Setting,
} from '@element-plus/icons-vue'

const props = defineProps(['drawer'])
const drawer = computed({
  // getter
  get() {
    return props.drawer
  },
  // setter
  set(newValue) {}
})
</script>
  