<template>
    <el-row justify="center">
        <el-col :span="23">
            <el-card class="box-card" style="margin-top:1%">
                <template #header>
                    <div class="card-header">
                        <span style="font-size:25px">用户及其群组与问卷</span>
                    </div>
                </template>
                <el-row>
                    <el-col :span="4">
                        <el-tree :props="props" :load="loadNode" lazy accordion @node-click="handleNodeClick" />
                    </el-col>
                    <el-col :span="18" :offset="1">

                        <groupComp v-if="level === 2" :tableData="tableData"></groupComp>
                        <quesComp v-if="level === 3" :tableData="tableData"> </quesComp>
                    </el-col>
                    
                </el-row>
            </el-card>
        </el-col>
    </el-row>
</template>
<script lang="ts" setup>
import { ref, inject } from 'vue'
import type Node from 'element-plus/es/components/tree/src/model/node'
import { api as quesApi } from "@/api/ques";
import { api as tenaApi } from "@/api/tenant";
import { api as consApi } from "@/api/consumer";
import groupinfo from './groupinfo.vue'
import { VueCookies } from 'vue-cookies';
import groupComp from "@/views/newUI/Tenant/groupComp.vue";
import quesComp from "@/views/newUI/Tenant/quesComp.vue";
const $cookies = inject<VueCookies>("$cookies")
interface Tree {
    name: string
    leaf?: boolean
}
const customNodeClass = (data: Tree, node: Node) => {
    return 'is-penultimate'
}
const props = {
    label: 'name',
    children: 'zones',
    isLeaf: 'leaf',
    class: customNodeClass,
}
const tableData = ref()
const loadNode = async (node: Node, resolve: (data: Tree[]) => void) => {
    // console.log(node.data)
    if (node.level === 0) {
        var data;
        await tenaApi.query({
            "name": "",
            "pageNum": 1,
            "pageSize": 100,
            "uuid": $cookies.get('uuid'),
        }).then(function (res_) {
            const res = res_.data
            data = res.list
        })
        return resolve(data)
    }
    if (node.level === 1) {
        var data;
        await consApi.query({
            "name": "",
            "pageNum": 1,
            "pageSize": 100,
            "uuid": node.data.uuid,
        }).then(function (res_) {
            const res = res_.data
            data = res.list
        })
        return resolve(data)
    }
    var data;
    await quesApi.query({
        "uuid": node.data.uuid,
    }).then(function (res_) {
        const res = res_.data
        data = res.map((x) => {
            x["leaf"] = true
            return x
        })
    })
    return resolve(data)
}
const level = ref(1)
const handleNodeClick = (data, node: Node) => {
    console.log(node)
    level.value = node.level
    if(node.level === 2){
        tableData.value = data
    } else if (node.level === 3){
        tableData.value = data
    } else{

    }
}

const el = document.documentElement
// getComputedStyle(el).getPropertyValue(`--el-font-size-base`)
// el.style.setProperty('--el-font-size-base', '20px')

const shortcuts = [
    {
        text: 'Last week',
        value: () => {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            return [start, end]
        },
    },
    {
        text: 'Last month',
        value: () => {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            return [start, end]
        },
    },
    {
        text: 'Last 3 months',
        value: () => {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
            return [start, end]
        },
    },
]
</script>
<style>
.demo-tabs>.el-tabs__content {
    padding: 32px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
}
</style>
<style scoped>
.block {
    padding: 30px 0;
    text-align: center;
    border-right: solid 1px var(--el-border-color);
    flex: 1;
}

.block:last-child {
    border-right: none;
}

.block .demonstration {
    display: block;
    color: var(--el-text-color-secondary);
    font-size: 14px;
    margin-bottom: 20px;
}
</style>