<template>

    <el-row :gutter="20" style="margin-top:1%">
        <el-col :span=14 :offset=1>
            <el-card class="box-card">
                <template #header>
                    <div class="card-header">

                        <el-row :gutter="3">
                            <el-col :span="3">
                                <span style="font-size:20px">我的用户</span>
                            </el-col>
                            <el-col :span="4">
                                <el-input style="width:200px;margin-left:10px" v-model="search" placeholder="请搜索.." />
                            </el-col>

                            <el-col :span="4">
                                <el-button style="margin-left:20px" type="primary" @click="search_it">搜索</el-button>
                            </el-col>
                            <el-col :span="9">

                            </el-col>
                            <el-col :span="4">
                                <el-button type="primary" style="float:right" @click="createConsumer">创建用户</el-button>
                            </el-col>
                        </el-row>

                    </div>
                </template>
                <el-table :data="tableData" v-loading="loading" border style="width: 100%" height="550">
                    <el-table-column prop="name" label="姓名" fixed="left" width="180" />
                    <el-table-column prop="address" label="地址" width="120" />
                    <el-table-column prop="qnumber" label="问卷余额" width="120" />
                    <el-table-column prop="qnnumber" label="当前问卷数量" width="120" />
                    <el-table-column prop="gnumber" label="群组余额" />
                    <el-table-column prop="gnnumber" label="当前群组数量" width="120" />
                    <el-table-column fixed="right" label="操作" width="140" #="{ row }">
                        <el-icon :size="25" color="#6699CC">
                            <View/>
                        </el-icon>
                      <el-icon :size="25" color="#6699CC"   @click="editConsumer(row)">
                            <Edit />
                      </el-icon>
                      <el-icon :size="25" color="#6699CC" @click="click(row)">
                            <WalletFilled />
                        </el-icon>
                      <el-icon :size="25" color="#6699CC" @click="delit(row)">
                      <Delete/>
                      </el-icon>
                    </el-table-column>
                </el-table>
                <div>
                    <el-pagination background layout="prev, pager, next" :total="100" />

                </div>
            </el-card>
        </el-col>

        <el-col :span=7>
            <el-card class="box-card">
                <h2 style="font-size:28px">当前您的余额为{{ money }}元<el-icon :size="30" style="float:left;color:#6699CC ">
                        <Coin />
                    </el-icon>
                </h2>
                <el-divider />
                <span style="font-size:18px">
                    创建问卷 {{ ques_value }}元/个
                </span>
                <br />
                <span style="font-size:18px">
                    创建群组 {{ group_value }}元/个
                </span>

            </el-card>
            <el-card class="box-card" style="margin-top:4%">
                <NumberInfo title="近三日答卷总数" sub-total="5.3" status="down">
                    <template #total>
                        <CountUp :end="493" :duration="1" />
                    </template>
                </NumberInfo>
                <Space size="large">
                    <Spin size="small" />
                    <Spin />
                    <Spin size="large" />
                </Space>

            </el-card>
            <el-card class="box-card" style="margin-top:4%">
                <el-carousel :interval="5000" arrow="always">
                    <el-carousel-item v-for="(item, index) in NoticeData" :key="index">
                        <h1 style="text-align: center;">{{ item.date }}</h1>
                        <h1 style="text-align: center;">{{ item.content }}</h1>
                    </el-carousel-item>
                </el-carousel>
            </el-card>

        </el-col>
    </el-row>
    <el-dialog v-model="dialogVisible" title="为用户充值" width="30%" @close="close">
        <el-form class="demo-ruleForm">
            <el-form-item label="问卷:">
                <el-slider v-model="ques" />
            </el-form-item>
            <el-form-item label="群组:">
                <el-slider v-model="group" />
            </el-form-item>
        </el-form>
        <span style="margin-left: auto;font-size:large">问卷{{ ques }}个，群组{{ group }}个</span>
        <br />
        <span style="margin-left: auto;font-size:large">共计{{ sum }}元</span>
        <span style="margin-left: auto;font-size:large;color: red;" v-if="sum > money">超了</span>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="cancel">取消</el-button>
                <el-button type="primary" @click="confirm" :disabled="sum > money">
                    确定
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>
<script lang="ts" setup>
import { ref, computed, inject } from 'vue'
import { reactive } from 'vue'
import { api } from '@/api/tenant'
import { ElMessageBox } from "element-plus";
import router from '@/router';
import { VueCookies } from "vue-cookies";
const $cookies = inject<VueCookies>("$cookies")
const loading = ref(true)
const money = ref(0)
const dialogVisible = ref(false)
interface Data {
        name: string,
        nickname: string,
        address: string,
        qnumber: number,
        qnnumber: number,
        gnumber: number,
        gnnumber: number,
        uuid: string
    }
const tableData = ref<Data[]>([])
const NoticeData = ref([])
const search = ref("")
const group = ref(0)
const ques = ref(0)
const ques_value = ref(0.5)
const group_value = ref(1.0)
const curr_row = ref<Data>()
const sum = computed(() => ques_value.value * ques.value + group.value * group_value.value)
const cancel = ()=>{
    curr_row.value = undefined
    dialogVisible.value = false
}
const click = (row) => {
    curr_row.value = row
    dialogVisible.value = true
}
const confirm = async () => {
    if(ques.value !== 0){
    await api.rechargeConsumer(
        {
            "tenant_uuid": $cookies.get('uuid'),
            "consumer_uuid": curr_row.value.uuid,
            "money": ques_value.value * ques.value,
            "type": 1,
            "number": ques.value
        }
    )
    }
    if(group.value !== 0){
    await api.rechargeConsumer(
        {
            "tenant_uuid": $cookies.get('uuid'),
            "consumer_uuid": curr_row.value.uuid,
            "money": group_value.value * group.value,
            "type": 2,
            "number": group.value
        }
    )
    }
    cancel()
    if(ques.value !== 0 || group.value !== 0)
        location.reload()
}
const close = () => {
    group.value = 0
    ques.value = 0
}

const createConsumer = () => {
    $cookies.set('consumer_uuid', $cookies.get('uuid'))
    router.push('/v2/tenant/addConsumer')
}


const search_it = async () => {
    await api.query({
        "name": search.value,
        "pageNum": 1,
        "pageSize": 10,
        "uuid": $cookies.get('uuid')  //"00acc4a1-98f2-fcb1-9f2d-147b69e4b369"$cookies.get('uuid')$cookies.get('uuid')
    }).then(function (res_) {
        console.log(res_)
        var tableData_ = [];
        const res = res_.data;
        var list = res.list;
        const length = list.length
        for (let index = 0; index < length; index++) {
            tableData_.push({
                name: list[index].name,
                nickname: "段佳宁与徐娜的禁忌之爱",
                address: list[index].address,
                qnumber: list[index].questionnaire_max - list[index].questionnaire_number,
                qnnumber: list[index].questionnaire_number,
                gnumber: list[index].cluster_max - list[index].cluster_number,
                gnnumber: list[index].cluster_number,
                uuid: list[index].uuid
            })
        }
        tableData.value = tableData_
        loading.value = false
    })
}

search_it()

const get_tenant = async () => {
    await api.queryTenant({
        "uuid": $cookies.get('uuid')//"00acc4a1-98f2-fcb1-9f2d-147b69e4b369"$cookies.get('uuid')
    }).then(function (res_) {
        console.log(res_)
        const res = res_.data;
        money.value = res.balance
    })
}
get_tenant()

const get_notice = async () => {
    await api.selectNotice({
    }).then(function (res_) {
        var tableData_ = [];
        const res = res_.data;
        var list = res.list;
        const length = list.length
        for (let index = 0; index < length; index++) {
            tableData_.push({
                "date": list[index].date,
                "content": list[index].content
            })
        }
        NoticeData.value = tableData_
    })
}

get_notice()

const delit = async (row) => {
  const uuid = row.uuid
  var status = 0
  await api.canDeleteTheConsumer({
    "uuid": uuid
  }).then(function (res) {
    status = res.data.status;
  })
  if (status == 1) {
    ElMessageBox.confirm('你确定要删除吗')
        .then(async () => {
          await api.deleteConsumer({
            "uuid": uuid
          }).then(function (res) {
            search_it()
          })

        })
        .catch(() => {

        })
  } else {
    ElMessageBox.alert('该用户尚有其他关联,暂时不能删除！')
  }
}

const editConsumer=async (row) => {

  $cookies.set('Consumeruuid',row.uuid)
  router.push('/v2/tenant/editConsumer')
}



</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>