<template>
  <el-card class="box-card" style="width:95%;margin:2%">
    <template #header>
      <div class="card-header">
        <span style="font-size: 30px;">添加用户</span>
      </div>
    </template>
    <el-row :gutter="135">
      <el-col :offset="2" :span="4">
        <el-avatar :size=150 :src="url" />
      </el-col>
      <el-col :span="8">
        <el-upload class="avatar-uploader" action="http://139.224.119.118:8085/image/upload" :show-file-list="false"
          :on-success="handleAvatarSuccess">
          <!-- :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload" -->
          <img v-if="imageUrl" :src="imageUrl" class="avatar" />
          <el-icon v-else class="avatar-uploader-icon">
            <Plus />
          </el-icon>
        </el-upload>
      </el-col>
    </el-row>
    <el-divider />
    <el-row>
      <el-col :offset="1">
        <el-card class="box-card" style="width:90%">
          <template #header>
            <div class="card-header">
              <span style="font-size:20px">用户信息</span>
            </div>
          </template>
          <el-form :model="form" label-width="120px">
            <el-form-item label="登录账号">
              <el-input style="width:25%" v-model="form.username" />
            </el-form-item>
            <el-form-item label="密码">
              <el-input style="width:25%" v-model="form.password" />
            </el-form-item>
            <el-form-item label="用户名">
              <el-input style="width:25%" v-model="form.name" />
            </el-form-item>
<!--            <el-form-item label="性别">-->
<!--              <el-select v-model="form.sex" placeholder="请选择性别" style="width:25%">-->
<!--                <el-option label="男" value="1" />-->
<!--                <el-option label="女" value="0" />-->
<!--              </el-select>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="组织">-->
<!--              <el-input style="width:25%" v-model="form.organization" />-->
<!--            </el-form-item>-->
            <el-form-item label="手机号">
              <el-input style="width:25%" v-model="form.phone" />
            </el-form-item>
            <el-form-item label="地址">
              <el-input style="width:25%" v-model="form.address" />
            </el-form-item>
<!--            <el-form-item label="生日">-->
<!--              <el-date-picker style="width:25%" v-model="form.birthday" type="date" placeholder="Pick a day" />-->
<!--            </el-form-item>-->


<!--            <el-form-item label="个人简介">-->
<!--              <el-input v-model="form.brief_introduction" type="textarea" />-->
<!--            </el-form-item>-->
            <el-form-item>
              <el-button type="primary" @click="onSubmit">提交</el-button>
              <el-button @click="router.go(-1)">取消</el-button>
            </el-form-item>
          </el-form>

        </el-card>

      </el-col>
    </el-row>
  </el-card>


</template>
  
<script lang="ts" setup>


import { ref, computed, inject } from 'vue'
import { Plus } from '@element-plus/icons-vue'
import { reactive } from 'vue'
import router from '@/router';
import { api } from "@/api/tenant";
import { VueCookies } from "vue-cookies";
import {ElMessageBox, UploadProps} from 'element-plus';
import { api as imageapi } from "@/api/general";
const imageUrl = ref('')
const value1 = ref('')
const $cookies = inject<VueCookies>("$cookies")

const form = ref({
  username:'',
  password:'',
  name: '',
  phone: '',
  address: '',
})
const url = ref("")

const onSubmit = async () => {
  await api.createConsumer({
    username: form.value.username,
    password: form.value.password,
    name: form.value.name,
    phone: form.value.phone,
    address: form.value.address,
    tenant_uuid:"00acc4a1-98f2-fcb1-9f2d-147b69e4b369"            //$cookies.get('uuid')
  }).then(function (res) {
    const success=res.data.success
    if(success==1){
      ElMessageBox.alert("创建成功")
      router.go(-1)
    }else{
      ElMessageBox.alert(res.data.message)
    }
  })

}

const handleAvatarSuccess: UploadProps['onSuccess'] = async (
  response: { data: string },
  uploadFile
) => {
  const uuid = response.data;
  await imageapi.changeImage(
    {
      userUuid: $cookies.get("uuid"),
      imageUuid: uuid,
    }
  )
  location.reload()
  // refresh()
}
const refresh = () => {
  imageapi.getImagePath({
    userUuid: $cookies.get("uuid")
  }).then(function (res_) {
    const res = res_.data
    if (res != null) {
      // http://139.224.119.118:8085/image/get?filename=85d5281ead9a45559db4bc4f83edcbbc&format=jpg
      url.value = "http://139.224.119.118:8085/image/get?filename=" + res.image_uuid + "&format=" + res.format
    } else{
      url.value = "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202105%2F04%2F20210504062111_d8dc3.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671164269&t=7c468314b026daf224729cce179395a5"
    }
  })
}
refresh()

</script>
  
<style scoped>
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.demo-date-picker {
  display: flex;
  width: 25%;
  padding: 0;
  flex-wrap: wrap;
}

.demo-date-picker .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}

.demo-date-picker .block:last-child {
  border-right: none;
}

.demo-date-picker .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
</style>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.box-card-data {
  width: 480px;
}

.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}
</style>
    