<template>

  <el-card class="box-card" style="width:95%;margin:2%">

    <template #header>
      <el-space>
        <el-icon :size="30">
          <Back />
        </el-icon>
        <el-divider direction="vertical" />
        <Tabs value="name1">
          <TabPane label="套餐充值" name="name1"> <span style="font-size:28px">套餐选购：</span>

            <el-row>

              <el-space wrap :size="40">

                <el-card :body-style="{ padding: '0px' }" style="width:300px" v-for="(item, index) in items">
                  <div style="padding: 14px">
                    <el-form :ref="(el) => item.formRef = el" :model="item.numberValidateForm" class="demo-ruleForm" style="margin-top:20px">
                      <span style="font-size:20px">充值{{ item.numberValidateForm.deposit }}元，赠送{{
                          item.numberValidateForm.free
                      }}元</span>
                      <br />
                      <span style="font-size:30px">共计存入{{ item.numberValidateForm.deposit + item.numberValidateForm.free
                      }}元</span>
                    </el-form>
                    <el-divider/>
                    <el-row justify="center">
                      <el-button type="primary" @click="detit(index)">选择</el-button>
                    </el-row>
                  </div>
                </el-card>
              </el-space>
            </el-row>
          </TabPane>
          <TabPane label="自定金额" name="name2"> <span style="font-size:28px">直接充值：</span>
            <el-row justify="center">
              <el-image style="width: 400px" :src="qrcodeURL" />
            </el-row>
            <el-row justify="center">
              <el-radio-group v-model="radio1" class="ml-4">
                <el-row>

                  <el-row>
                    <el-image style="height: 50px" :src="wxURL" />
                    <el-radio label="1" size="large" style="margin-top:3%">微信支付</el-radio>
                  </el-row>

                  <el-row style="margin-left:20px">
                    <el-image style="height: 50px" :src="zfbURL" />
                    <el-radio label="2" size="large" style="margin-top:2%;margin-left: 12px;">支付宝支付</el-radio>
                  </el-row>

                </el-row>
              </el-radio-group>
            </el-row>
            <el-button :plain="true" @click="open">VNode</el-button>
          </TabPane>
        </Tabs>
      </el-space>

    </template>








  </el-card>
</template>

<script setup>
import { reactive, ref } from 'vue'
import qrcode from '@/assets/qrcode.png'
import weixin from '@/assets/weixin.png'
import zhifubao from '@/assets/zhifubao.png'
const qrcodeURL = ref(qrcode)
const wxURL = ref(weixin)
const zfbURL = ref(zhifubao)
const open = () => {
  ElMessage('充值100元！.')
}
const items = reactive([
  {
    disabled: true,
    text: "修改",
    formRef: null,
    numberValidateForm: {
      deposit: 25,
      free: 5,
    },
    addr: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sNgJbOmiHzUdU0IXCsjoxgHaIF%26pid%3DApi&f=1&ipt=664dd77e0e3f91207870ae9d2797d78e0dae899a97cee24802eb18d5b6aee553&ipo=images",
  },
  {
    disabled: true,
    text: "修改",
    formRef: null,
    numberValidateForm: {
      deposit: 35,
      free: 15,
    },
    addr: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sNgJbOmiHzUdU0IXCsjoxgHaIF%26pid%3DApi&f=1&ipt=664dd77e0e3f91207870ae9d2797d78e0dae899a97cee24802eb18d5b6aee553&ipo=images",
  },
  {
    disabled: true,
    text: "修改",
    formRef: null,
    numberValidateForm: {
      deposit: 55,
      free: 25,
    },
    addr: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sNgJbOmiHzUdU0IXCsjoxgHaIF%26pid%3DApi&f=1&ipt=664dd77e0e3f91207870ae9d2797d78e0dae899a97cee24802eb18d5b6aee553&ipo=images",
  },
  {
    disabled: true,
    text: "修改",
    formRef: null,
    numberValidateForm: {
      deposit: 100,
      free: 100,
    },
    addr: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sNgJbOmiHzUdU0IXCsjoxgHaIF%26pid%3DApi&f=1&ipt=664dd77e0e3f91207870ae9d2797d78e0dae899a97cee24802eb18d5b6aee553&ipo=images",
  },
])
const add = () => {
  items.push({
    disabled: false,
    text: "保存",
    formRef: null,
    numberValidateForm: {
      deposit: 0,
      free: 0,
    },
    addr: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sNgJbOmiHzUdU0IXCsjoxgHaIF%26pid%3DApi&f=1&ipt=664dd77e0e3f91207870ae9d2797d78e0dae899a97cee24802eb18d5b6aee553&ipo=images",
  })
}
// const disabled = ref(true)
// const text = ref("修改")

// const formRef = ref()
// const numberValidateForm = reactive({
//     deposit: 100,
//     free: 50,
// })

const detit = (index) => {
  items.splice(index, 1)
}
const edit = (item) => {
  if (item.disabled) {
    item.disabled = false
    item.text = "保存"
  } else {
    if (!item.formRef) return
    item.formRef.validate((valid) => {
      if (valid) {
        item.disabled = true
        item.text = "修改"
      } else {
        console.log('error submit!')
        return false
      }
    })

  }
}
</script>
<style>
.time {
  font-size: 12px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 0;
  min-height: auto;
}

.image {
  width: 100%;
  display: block;
}
</style>