<template>

  <el-card class="box-card" style="width:95%;margin:2%">
    <template #header>
      <div class="card-header">
        <el-space :size="10">
          <el-icon :size="30">
          <Back />
        </el-icon>
        <el-divider direction="vertical" />

        <span style="font-size: 30px;">个人资料</span>
        </el-space>
      </div>
    </template>
    <el-row :gutter="135">
      <el-col :offset="2" :span="4">
        <el-avatar :size=150 :src="url" />
      </el-col>
      <el-col :span="8">
        <el-upload class="avatar-uploader" action="http://139.224.119.118:8085/image/upload" :show-file-list="false"
          :on-success="handleAvatarSuccess">
          <!-- :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload" -->
          <img v-if="imageUrl" :src="imageUrl" class="avatar" />
          <el-icon v-else class="avatar-uploader-icon">
            <Plus />
          </el-icon>
        </el-upload>
      </el-col>
    </el-row>
    <el-divider />
    <el-row>
      <el-col :offset="1">
        <el-card class="box-card" style="width:90%">
          <template #header>
            <div class="card-header">
              <span style="font-size:20px">个人信息</span>
            </div>
          </template>
          <el-form :model="form" label-width="120px">
            <el-form-item label="姓名">
              <el-input style="width:25%" v-model="form.name" />
            </el-form-item>
            <el-form-item label="性别">
              <el-select v-model="form.sex" placeholder="请选择性别" style="width:25%">
                <el-option label="男" :value="1" />
                <el-option label="女" :value="0" />
              </el-select>
            </el-form-item>
            <el-form-item label="组织">
              <el-input style="width:25%" v-model="form.organization" />
            </el-form-item>
            <el-form-item label="手机号">
              <el-input style="width:25%" v-model="form.phonenumber" />
            </el-form-item>
            <el-form-item label="地址">
              <el-input style="width:25%" v-model="form.address" />
            </el-form-item>
            <el-form-item label="生日">
              <el-date-picker style="width:25%" v-model="form.birthday" type="datetime" placeholder="Pick a day"
                format="YYYY-MM-DD HH:mm:ss" value-format="YYYY-MM-DD HH:mm:ss" />
            </el-form-item>


            <el-form-item label="个人简介">
              <el-input v-model="form.brief_introduction" type="textarea" />
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSubmit">提交</el-button>
              <el-button @click="router.go(-1)">取消</el-button>
            </el-form-item>
          </el-form>

        </el-card>

      </el-col>
    </el-row>
  </el-card>


</template>
  
<script lang="ts" setup>


import { ref, computed, inject } from 'vue'
import { Plus } from '@element-plus/icons-vue'
import { reactive } from 'vue'
import router from '@/router';
import { api } from "@/api/admin1";
import { VueCookies } from "vue-cookies";
import { UploadProps } from 'element-plus';
import { api as imageapi } from "@/api/general";
const imageUrl = ref('')
const value1 = ref('')
const $cookies = inject<VueCookies>("$cookies")
const is_self = $cookies.get("roleId") == "2"
const uuid = is_self ? $cookies.get('uuid') : $cookies.get('tenent_uuid')
const form = ref({
  name: '',
  sex: -1,
  organization: '',
  phonenumber: '',
  address: '',
  birthday: '',
  brief_introduction: '',
})
const url = ref("")

const onSubmit = async () => {
  await api.change({
    name: form.value.name,
    sex: form.value.sex,
    organization: form.value.organization,
    phonenumber: form.value.phonenumber,
    address: form.value.address,
    birthday: form.value.birthday,
    briefIntroduction: form.value.brief_introduction,
    uuid: uuid
  }).then(function (res) {
  })
  $cookies.remove("tenent_uuid")
  router.go(-1)
}

const handleAvatarSuccess: UploadProps['onSuccess'] = async (
  response: { data: string },
  uploadFile
) => {
  const uuid = response.data;
  await imageapi.changeImage(
    {
      userUuid: $cookies.get("uuid"),
      imageUuid: uuid,
    }
  )
  location.reload()
  // refresh()
}
const refresh = async () => {
  await imageapi.getImagePath({
    userUuid: $cookies.get("uuid")
  }).then(function (res_) {
    const res = res_.data
    if (res != null) {
      // http://139.224.119.118:8085/image/get?filename=85d5281ead9a45559db4bc4f83edcbbc&format=jpg
      url.value = "http://139.224.119.118:8085/image/get?filename=" + res.image_uuid + "&format=" + res.format
    } else {
      url.value = "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202105%2F04%2F20210504062111_d8dc3.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671164269&t=7c468314b026daf224729cce179395a5"
    }
  })
  await api.getInfoByUuid({
    "uuid": uuid
  }).then(function (res_) {
    const res = res_.data
    form.value = {
      name: res.name,
      sex: res.sex,
      organization: res.organization,
      phonenumber: res.phonenumber,
      address: res.address,
      birthday: res.birthday,
      brief_introduction: res.brief_introduction,
    }
  })

}
refresh()

</script>
  
<style scoped>
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.demo-date-picker {
  display: flex;
  width: 25%;
  padding: 0;
  flex-wrap: wrap;
}

.demo-date-picker .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}

.demo-date-picker .block:last-child {
  border-right: none;
}

.demo-date-picker .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
</style>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.box-card-data {
  width: 480px;
}

.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}
</style>
    