<template>
    <el-row>

        <div class="flex items-center">
            <span class="text-large font-600 mr-3" style="font-size:20px;margin-left:20px">
                {{ props.tableData.name }}</span>
            <el-tag>群组</el-tag>
        </div>

    </el-row>
    <el-row>
        <el-card style="margin-top:2%">
            <el-descriptions class="margin-top" title="相关信息" :column="4" border>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon>
                                <user />
                            </el-icon>
                            群组名称
                        </div>
                    </template>
                    {{ props.tableData.name }}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon>
                                <Timer />
                            </el-icon>
                            创建时间
                        </div>
                    </template>
                    {{ props.tableData.created_time }}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon>
                                <House />
                            </el-icon>
                            群组人数
                        </div>
                    </template>
                    {{ props.tableData.number }}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon>
                                <Notification />
                            </el-icon>
                            历史问卷数
                        </div>
                    </template>
                    {{ props.tableData.history_number }}
                </el-descriptions-item>
            </el-descriptions>
            <el-divider></el-divider>


            <el-table :data="tableData" style="width:1200px">
                <el-table-column prop="name" label="姓名" />
                <el-table-column prop="age" label="年龄" />
                <el-table-column prop="org" label="组织" />
                <el-table-column prop="address" label="住址" />
                <el-table-column prop="pos" label="身份" />
            </el-table>
        </el-card>

    </el-row>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { api } from '@/api/consumer'
const props = defineProps(['tableData'])
const getData = async () => {
    await api.getAnswerer({
        "uuid": props.tableData.uuid
    }).then(function (res_) {
        const res = res_.data
        for (let index = 0; index < res.length; index++) {
            tableData.value.push({
                "name": res[index].name,
                "age": res[index].age.toString(),
                "org": res[index].organization,
                "address": res[index].address,
                "pos": res[index].role,
            })

        }

    })
}
getData()
const tableData = ref([])
</script>