<template>
  <header class="app-header navbar">
    <ul class="nav navbar-nav hidden-md-down" style="margin-left: 10px">
      <el-button style="border-width: 0ch;" icon="Expand" @click="$emit('pressButton')"></el-button>

    </ul>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">

      <li class="nav-item px-1">
        <a class="nav-link" href="#">访问官网</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">关于我们</a>
      </li>
    </ul>


    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item hidden-md-down">
        <a class="nav-link" href="#"><i class="icon-bell"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">
          <img :src="url" class="img-avatar" >
          <span class="hidden-md-down">{{ text }}</span>
        </a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link navbar-toggler aside-menu-toggler" href="#">
          <el-icon :size="20">
            <Setting></Setting>
          </el-icon>
        </a>
      </li>

    </ul>
  </header>

</template>
<script lang="ts" setup>
import { ref, inject } from "vue";
import { api } from '@/api/general'
import { VueCookies } from "vue-cookies";
const text = ref("")
const url = ref("")
const $cookies = inject<VueCookies>("$cookies")
const setup = async () => {
  await api.getAll({
    uuid: $cookies.get("uuid"),
    role_id: Number($cookies.get("roleId") as string),
  }).then(function (res_) {
    const res = res_.data
    if (res != null) {
      text.value = res.name
    }
  })
  await api.getImagePath(
    {
      userUuid: $cookies.get("uuid"),
    }
  ).then(function (res_) {
    const res = res_.data
    if (res != null) {
      url.value = "http://139.224.119.118:8085/image/get?filename=" + res.image_uuid + "&format=" + res.format
    } else {
      url.value = "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202105%2F04%2F20210504062111_d8dc3.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671164269&t=7c468314b026daf224729cce179395a5"
    }
  })
}
setup()

</script>
  