<template>
    <el-row>

        <div class="flex items-center">
            <span class="text-large font-600 mr-3" style="font-size:20px;margin-left:20px">
                《关于软件2001班学习调查》</span>
            <el-tag>问卷</el-tag>
        </div>

    </el-row>
    <el-row>
        <el-card style="margin-top:2%">
            <el-descriptions class="margin-top" title="相关信息" :column="3" border>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon>
                                <user />
                            </el-icon>
                            问卷名称
                        </div>
                    </template>
                    {{ props.tableData.name }}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon color="green">
                                <Timer />
                            </el-icon>
                            开始时间
                        </div>
                    </template>
                    {{ start_time }}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon color="red">
                                <Timer />
                            </el-icon>
                            结束时间
                        </div>
                    </template>
                    {{ end_time }}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template #label>
                        <div class="cell-item">
                            <el-icon>
                                <Edit />
                            </el-icon>
                            问卷描述
                        </div>
                    </template>
                    {{ props.tableData.type }}
                </el-descriptions-item>
            </el-descriptions>
            <el-divider></el-divider>
            <div class="block">
                <span class="demonstration">重新选择问卷时间</span>
                <el-date-picker v-model="value1" type="datetimerange" range-separator="到" start-placeholder="开始日期"
                    end-placeholder="结束日期" format="YYYY-MM-DD HH:mm:ss" value-format="YYYY-MM-DD HH:mm:ss" />
            </div>
            <el-row justify="center">
                <el-button type="primary" @click="getData">确定</el-button>
            </el-row>
        </el-card>

    </el-row>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import { api } from '@/api/consumer'
import { api as quesApi } from "@/api/ques";
import 'dayjs/locale/zh-cn'
const value1 = ref<[string, string]>()
const props = defineProps(['tableData'])
const getData = async () => {
    await api.changeTime({
        "questionnaire_uuid": props.tableData.questionnaire_uuid,
        "cluster_uuid": props.tableData.cluster_uuid,
        "start_date": value1.value[0],
        "end_date": value1.value[1],
    }).then(function (res_) {
        fresh()
    })
}
const start_time = ref("")
const end_time = ref("")
const fresh = async () => {
    await api.getTime({
        "questionnaire_uuid": props.tableData.questionnaire_uuid,
        "cluster_uuid": props.tableData.cluster_uuid,
    }).then(function (res_) {
        start_time.value = res_.data.start_date
        end_time.value = res_.data.end_date
    })
}
fresh()
</script>