
<template>
  <tenantHeader @pressButton="pressed = true"></tenantHeader>
  <tenantAside @close="pressed = false" :drawer="pressed"></tenantAside>
  <!-- <tenantConsumer></tenantConsumer> -->
  <RouterView></RouterView>
</template>
<script>
import tenantHeader from './header.vue'
import tenantAside from './aside.vue'
// import tenantConsumer from './consumerlist.vue'

export default {
  components: {
    tenantHeader,
    tenantAside,
    // tenantConsumer
  },
  data() {
    return {
      pressed: false
    }
  }
}
</script>