<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>

            <div class="card-header">
                <el-space size="10">
                    <el-icon :size="30">
                        <Back />
                    </el-icon>
                    <el-divider direction="vertical" />

                    <span style="font-size: 30px;">个人资料</span>
                </el-space>
                <el-button type="primary" @click="router.push('/v2/tenant/editself')">编辑个人信息</el-button>

            </div>
        </template>
        <el-row :gutter="135">
            <el-col :offset="2" :span="4">
                <el-avatar :size=150
                    src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202105%2F04%2F20210504062111_d8dc3.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671164269&t=7c468314b026daf224729cce179395a5" />
            </el-col>
            <el-col :span="8">
                <h2 style="font-size:40px">张三</h2>
                <div style="font-size:30px;font-family: serif;">
                    <span>辽宁</span>
                    <el-divider direction="vertical" />
                    <span>东北大学</span>
                    <el-divider direction="vertical" border-style="dashed" />
                    <span>20岁</span>
                </div>
                <el-collapse style="margin-top: 5px;font-size: 10px;" v-model="activeNames" @change="handleChange">
                    <el-collapse-item title="查看详细资料" name="1">
                        <li>
                            IP属地：辽宁
                        </li>
                        <li>
                            注册时间：2022年11月12日
                        </li>
                        <li>
                            累计消费：200 元
                        </li>
                    </el-collapse-item>
                </el-collapse>
            </el-col>
            <el-col :span="10" :offset="0">
                <el-card shadow="hover">
                    <el-row :gutter="135">
                        <el-col :span="4" :offset="1">
                            <el-icon :size="60" color="#6699CC">
                                <WalletFilled />
                            </el-icon>
                        </el-col>
                        <el-col :span="10" style="margin-top:20px ;">
                            <a style="font-size:large">余额100元</a>
                        </el-col>
                        <el-col :span="5" style="margin:auto;margin-left: -50px;">
                            <el-button type="primary">
                                <el-icon>
                                    <Upload />
                                </el-icon>充值
                            </el-button>
                        </el-col>
                    </el-row>
                </el-card>

            </el-col>
        </el-row>
        <el-divider />
        <el-row>
            <el-col :offset="2">
                <el-timeline style="width:80%">
                    <el-timeline-item timestamp="2018/4/12" placement="top">
                        <el-card>
                            <h4>充值操作</h4>
                            <p>存入100元</p>
                        </el-card>
                    </el-timeline-item>
                    <el-timeline-item timestamp="2018/4/3" placement="top">
                        <el-card>
                            <h4>消费操作</h4>
                            <p>给 用户：张三 充值100个群组</p>
                        </el-card>
                    </el-timeline-item>
                </el-timeline>
            </el-col>
        </el-row>
    </el-card>


</template>

<script setup>
import { ref } from 'vue'
import router from '@/router';
const activeNames = ref(['1'])
</script>

    
<style>
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.box-card-data {
    width: 480px;
}

.el-row {
    margin-bottom: 20px;
}

.el-row:last-child {
    margin-bottom: 0;
}
</style>
    