<template>
    <el-row justify="center">
        <el-card class="box-card" style="width:90%;margin-top: 2%;">
            <template #header>
                <div class="card-header">
                    <el-steps :active="1">
                        <el-step title="修改问卷信息" description="修改问卷名称、封面等内容" />
                        <el-step title="编辑问卷内容" description="编辑问卷的问题" />
                        <el-step title="编辑完成" description="问卷修改成功" />
                    </el-steps>
                </div>
            </template>
            <el-carousel :autoplay="false" arrow="always" height="800px">
                <el-carousel-item>
                    <editinfo></editinfo>
                </el-carousel-item>
                <el-carousel-item>
                    <el-scrollbar height="800px">
                        <editquestion></editquestion>
                    </el-scrollbar>
                </el-carousel-item>
                <el-carousel-item>
                    <editsuccess>
                        </editsuccess>

                </el-carousel-item>
            </el-carousel>
        </el-card>
    </el-row>


</template>
<script lang="ts">
import editinfo from './editinfo.vue'
import editquestion from './editquestion.vue';
import editsuccess from './editsuccess.vue'
export default {
    components: {
        editinfo,
        editquestion,
        editsuccess
    }
}
</script>
