<template>
     <el-result
        icon="success"
        title="修改完成"
        sub-title="请返回问卷仓库界面"
      >
        <template #extra>
          <el-button type="primary">返回</el-button>
        </template>
      </el-result>
</template>
