<template>
    <el-card class="box-card" style="width:100%">

        <el-form :model="form" label-width="120px">
            <el-form-item label="问卷封面：">
                <el-upload class="avatar-uploader" action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
                    :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                    <el-icon v-else class="avatar-uploader-icon">
                        <Plus />
                    </el-icon>
                </el-upload>
            </el-form-item>
            <el-form-item label="问卷名称:">
                <el-input style="width:50%" v-model="form.name" />
            </el-form-item>
            <el-form-item label="时间范围：">
                <el-date-picker v-model="value1" type="datetimerange" range-separator="To"
                    start-placeholder="Start date" end-placeholder="End date" />
            </el-form-item>
            <el-form-item label="问卷描述：">
                <el-input v-model="form.type" :rows="2" type="textarea" placeholder="请输入问卷描述..." />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="">修改问卷</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</template>
<script lang="ts" setup>
import { onMounted, reactive } from 'vue'
import { ref } from 'vue'
import { ElMessage } from 'element-plus'
import { Plus } from '@element-plus/icons-vue'
import {useStore} from 'vuex'
import { editQuestionnaire } from '@/api/questionnaire'

import type { UploadProps } from 'element-plus'

const store=useStore()
const imageUrl = ref('')
const value1 = ref<[Date, Date]>([
    new Date(2000, 10, 10, 10, 10),
    new Date(2000, 10, 11, 10, 10),
])
const shortcuts = [
    {
        text: 'Last week',
        value: () => {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            return [start, end]
        },
    },
    {
        text: 'Last month',
        value: () => {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            return [start, end]
        },
    },
    {
        text: 'Last 3 months',
        value: () => {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
            return [start, end]
        },
    },
]
const handleAvatarSuccess: UploadProps['onSuccess'] = (
    response,
    uploadFile
) => {
    imageUrl.value = URL.createObjectURL(uploadFile.raw!)
}

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
    if (rawFile.type !== 'image/jpeg') {
        ElMessage.error('图片只能是JPG格式！')
        return false
    } else if (rawFile.size / 1024 / 1024 > 2) {
        ElMessage.error('图片大小不能超过2MB!')
        return false
    }
    return true
}
// do not use same name with ref
const form = reactive({
    name: '',
    date1: '',
    date2: '',
    type: '',
})

onMounted(async ()=>{
    let uuid0=store.state.questionnaire.setUuid
    //传个数据
    await editQuestionnaire({
        //应该为uuid0，测试用正常的
        uuid: "bc04d26f189e400393aa0579019dd4f4"
    }).then(function(res1){
        const res=res1.data
        //把数据解析以下。。。然后组件间通信
        form.name=res.questionnaire_name
        form.type=res.questionnaire_type
        //没看明白组件通信，直接vuex了
        
        store.commit("questionnaire/datas",res.datas)
    })
})


</script>
<style scoped>
.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}
</style>

<style>
.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}
</style>
