<template>
    <el-row>
        <el-col>
            <el-card class="box-card" style="width:100%">
                <div class="card-header" style="text-align: center;margin: auto;">
                    <span style="font-size:40px;">关于高校满意度的调查问卷</span>
                </div>
                <el-divider>
                    <el-icon>
                        <star-filled />
                    </el-icon><span style="color:brown">题目部分</span>
                    <el-icon>
                        <star-filled />
                    </el-icon>
                </el-divider>
                <el-row justify="center" gutter=30 v-if="datas.length === 0">
                    <el-col :span="3">
                            <el-button type="primary" @click="addQues(0, 1)">新增选择题</el-button>
                    </el-col>
                    <el-col :span="3">
                            <el-button type="primary" @click="addQues(0, 2)">新增填空题</el-button>
                    </el-col>
                </el-row>
                <el-row justify="center">
                    <div v-for="(data, index1) in datas" :key="data.id">
                        <el-card style="width:1200px;margin-top:2%;">
                            <template #header>
                                <span style="font-size:20px">第{{ data.id }}题</span>
                                <el-button type="primary" style="float:right">
                                    删除该题
                                </el-button>
                                <div v-if="data.type === 1" style="float:right">
                                    <div v-if="data.opts.length === 0">
                                        <el-button @click="addOpt(index1, 0)">增加选项</el-button>
                                    </div>
                                </div>
                            </template>
                            <div style="margin-left: 4%;">
                                <el-row>
                                    <el-col :span="2"> <span style="font-size:18px">题目： </span>
                                    </el-col>
                                    <el-col :span="10">
                                        <el-input style="width:500px;" :autosize="{ minRows: 1, maxRows: 4 }"
                                            placeholder="请输入题目" type="textarea" v-model="data.questionContent" />
                                    </el-col>
                                </el-row>
                            </div>
                            <div style="margin-left: 4%;" v-for="(opt, index2) in data.opts">
                                <div v-if="data.type === 1">
                                    <el-row style="margin-top:1%">
                                        <el-col :span="2">
                                            <span style="font-size:18px">选项{{ index2 + 1 }}: </span>
                                        </el-col>
                                        <el-col :span="16">
                                            <el-input style="width:500px;" v-model="opt.content"></el-input>
                                        </el-col>
                                        <el-col :span="3">
                                            <el-button type="primary" @click="addOpt(index1, index2)">增加选项
                                            </el-button>
                                        </el-col>
                                        <el-col :span="3">
                                            <el-button type="danger" @click="deleteOpt(index1, index2)">删除选项
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            <el-divider />
                            <el-row :gutter="20">
                                <el-col :span="8"> </el-col>
                                <el-col :span="3">
                                    <el-button type="primary" @click="addQues(index1, 1)">新增选择题</el-button>
                                </el-col>
                                <el-col :span="1"> </el-col>
                                <el-col :span="3">
                                    <el-button type="primary" @click="addQues(index1, 2)">新增填空题</el-button>
                                </el-col>
                                <el-col :span="7"></el-col>
                            </el-row>
                        </el-card>

                    </div>
                </el-row>
                <el-divider />

                <el-row justify="center">
                    <el-col :span="3">
                        <router-link to="preview">
                            <el-button type="primary" @click="preview()">
                            <el-icon :size="20" style="margin-right:4%">
                                <View />
                            </el-icon>预览问卷
                        </el-button>
                        </router-link>
                    </el-col>

                    <el-col :span="3">
                        <el-button type="primary" @click="submit">
                            <el-icon :size="20" style="margin-right:4%">
                                <Position    />
                            </el-icon>保存问卷
                        </el-button>
                    </el-col>
                </el-row>

            </el-card>
        </el-col>

    </el-row>



</template>
<script lang="ts" setup>
import { onMounted, ref } from "vue";
import { useStore } from "vuex";
import router from "@/router";
import { createQuestionnaire } from "@/api/questionnaire";
const store = useStore()

const questionName = ref("")
const datas = ref<Array<
    {
        id: number,
        type: number,
        questionContent: string,
        opts: Array<
            {
                optId: number,
                content: string,
            }
        >
    }
>>([])
const addOpt = (index1, index2) => {
    datas.value[index1].opts.splice(index2 + 1, 0, {
        optId: index2 + 1,
        content: ""
    })
    datas.value[index1].opts[0].optId = 0;
    for (let i = 1; i < datas.value[index1].opts.length; i++) {
        datas.value[index1].opts[i].optId = datas.value[index1].opts[i - 1].optId + 1
    }
}
const addQues = (index, classname) => {
    if (classname === 1) {
        datas.value.splice(index + 1, 0, {
            id: index + 1,
            type: classname,
            questionContent: "",
            opts: [{
                optId: 0,
                content: ""
            }]
        })
    } else if (classname === 2) {
        datas.value.splice(index + 1, 0, {
            id: index + 1,
            type: classname,
            questionContent: "",
            opts: []
        })
    }
    datas.value[0].id = 1
    for (let i = 1; i < datas.value.length; i++) {
        datas.value[i].id = datas.value[i - 1].id + 1
    }
}

const deleteOpt = (index1, index2) => {
    datas.value[index1].opts.splice(index2, 1)
    if (datas.value[index1].opts.length !== 0) {
        datas.value[index1].opts[0].optId = 0;
        for (let i = 1; i < datas.value[index1].opts.length; i++) {
            datas.value[index1].opts[i].optId = datas.value[index1].opts[i - 1].optId + 1
        }
    }
}

const form = ref({
    uuid: "",
    createdBy: "",
    name: questionName,
    question: datas
})

const numberOfState = ref(0)

const preview = () => {
    store.commit("questionnaire/setState0", 0)
    store.commit("questionnaire/setQuesData", datas)
    store.commit("questionnaire/setTitle", questionName)
}

const submit = async () => {
    router.push("success1");
    await createQuestionnaire(form.value).then(function (res) {
        console.log("111111111")
        router.push("success1");
    })
}

onMounted(() => {
    if (store.state.questionnaire.datas !== null) {
        datas.value = store.state.questionnaire.datas
        questionName.value = store.state.questionnaire.title
    }
    store.commit("questionnaire/datas",null)
})
const x = 0
</script>

<style>

</style>
