<template>
  <el-date-picker v-model="value1" type="datetimerange" range-separator="到"
                    start-placeholder="开始日期" end-placeholder="结束日期"
                    format="YYYY-MM-DD HH:mm:ss"
                    value-format="YYYY-MM-DD HH:mm:ss"
                    />
                    <el-button @click="click">

                    </el-button>
                    
</template>
<script lang="ts" setup>
//2022-11-22 19:46:18
import { ref } from "vue";
const value1 = ref<[]>()

const click = ()=>{
  console.log(value1.value)
}
</script>