<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <el-space :size=20>
                    <span style="font-size:20px">答者列表</span>
                    <el-input v-model="search" style="width:20%" placeholder="请搜索" />
                </el-space>
                <el-button type="primary" style="float:right" @click="router.push('/v2/consumer/import')">批量导入答者</el-button>
            </div>
        </template>
        <el-table v-loading="loading" :data="tableData"
            style="width: 100%">

            <el-table-column fixed prop="name" label="姓名" />
            <el-table-column prop="age" label="年龄" />
            <el-table-column prop="org" label="组织" />
            <el-table-column prop="address" label="住址" />
            <el-table-column prop="pos" label="身份" />
            <el-table-column prop="tag" label="标签" />
            <el-table-column label="操作">
                <template #default="{ row }">
                    <Icon size="20" type="md-create" color="#6699CC" @click="edit(row)"/>
                    <Icon color="#6699CC" size="20" type="md-close" @click="delit(row)" />
                </template>
            </el-table-column>

        </el-table>
        <el-pagination background layout="prev, pager, next" :total="100" />
    </el-card>
</template>
<script lang="ts" setup>
import { ref, inject } from "vue";
import { api } from "@/api/consumer"
import { api as ansapi } from "@/api/answerer"
import { VueCookies } from "vue-cookies";
import { ElMessageBox } from "element-plus";
import router from '@/router'
const $cookies = inject<VueCookies>("$cookies")
const loading = ref(true)
const search = ref("")

interface Data{
        name: string,
        age: string,
        org: string,
        address: string,
        pos: string,
        tag: string,
        uuid: string,
    }
const tableData = ref<
    Data[]
>([])
const edit = (row)=>{
  $cookies.set('Answereruuid',row.uuid)
  router.push('/v2/consumer/editAnswer')
}
const delit = async (row) => {
    const uuid = row.uuid
    await ansapi.answerer_status({
        uuid: uuid
    }).then(function (res_) {
        if (res_.data.status === 1) {
            ElMessageBox.confirm('确定要删除吗?')
                .then(async () => {
                    await ansapi.answerer_delete({
                        consumer_uuid: $cookies.get('uuid'),
                        answerer_uuid: uuid,
                    })
                    location.reload()
                })
        } else {
            ElMessageBox.alert('不能删除')
        }
    })
}

const refresh = async () => {
    await api.getAllAnswerer(
        {
            "uuid": $cookies.get("uuid"),
        }
    ).then(function (res_) {
        const res = res_.data
        const length = res.length
        for (let index = 0; index < length; index++) {
            tableData.value.push({
                name: res[index].name,
                age: res[index].hasOwnProperty('age') ? res[index].age.toString() : undefined,
                org: res[index].organization,
                address: res[index].address,
                pos: res[index].role,
                tag: res[index].tag,
                uuid: res[index].answerer_uuid,
            })
        }
        loading.value = false
    })
}

refresh()
</script>