
<template>
    <consumerHeader @pressButton="pressed = true"></consumerHeader>
    <consumerAside @close="pressed = false" :drawer="pressed" ></consumerAside>
    <RouterView></RouterView>
  </template>
  <script>
  import consumerHeader from './header.vue'
  import consumerAside from './aside.vue'

  export default {
  components: {
    consumerHeader,
    consumerAside,
  },
  data(){
    return {
        pressed : false
    }
  }
  }
  </script>