<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <el-space :size=20>
                    <span style="font-size:20px">群组列表</span>
                    <el-input v-model="search" style="width:20%" placeholder="请搜索" />
                    <el-button type="primary" @click="search_it">搜索</el-button>
                </el-space>
                <el-button type="primary" style="float:right" @click="createGroup = true">创建群组</el-button>
            </div>
        </template>
        <el-dialog v-model="createGroup" title="创建群组" width="30%" >
               <el-row>
                <el-col :span="4"><span >群组名称：</span></el-col>
                <el-col :span="20"><el-input v-model="name" placeholder="请输入群组名称"></el-input></el-col>
               </el-row>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button @click="cancel">取消</el-button>
                        <el-button type="primary" @click="confirm">
                            确认
                        </el-button>
                    </span>
                </template>
            </el-dialog>


        <el-table v-loading="loading" :data="tableData" style="width: 100%">
            <el-table-column type="expand">
                <template #default="{ row }">
                    <div m="4" style="margin-left: 50px;font-size: 20px;">
                        <div style="margin-top:20px;width:90%">
                            <span>问卷列表</span>
                            <el-button type="primary" style="float:right;">发布问卷</el-button>
                        </div>
                        <el-divider border-style="dashed" />
                        <el-row>
                            <el-col>
                                <el-table :border="true" :data="row.tableData2" style="width:90%" height="300">
                                    <el-table-column fixed prop="name" label="问卷名称" />
                                    <el-table-column prop="stime" label="开始时间" />
                                    <el-table-column prop="etime" label="结束时间" />
                                    <el-table-column prop="type" label="类型" />
                                    <el-table-column prop="link" label="答题链接" />
                                    <el-table-column fixed="right" label="操作" width="150">
                                        <template #default>
                                            <el-icon size="20">
                                                <Platform />
                                            </el-icon>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-pagination background layout="prev, pager, next" :total="1000" />

                                </el-col>
                            </el-row>
                            <div>

                            </div>
                        </div>

                </template>
            </el-table-column>
            <el-table-column prop="name" label="群组名称" />
            <el-table-column prop="birthday" label="创建日期" />
            <el-table-column prop="number" label="人数" />
            <el-table-column prop="qnumber" label="正在进行的问卷数" />
            <el-table-column prop="qsnumber" label="累计发放的问卷数" />

            <el-table-column label="操作">
                <template #default="{ row }">
                    <el-space :size=20>
                        <Icon size="30" color="#6699CC" type="md-eye" @click="view(row)" />
                        <Icon color="#6699CC" size="30" type="md-close" @click="delit(row)" />
                    </el-space>
                </template>
            </el-table-column>
        </el-table>
    </el-card>
</template>
<script lang="ts" setup>
import { api } from '@/api/consumer'
import { api as groupapi } from '@/api/group'

import { ref, computed, inject } from 'vue'
import router from '@/router';
import { VueCookies } from 'vue-cookies';
import { ElMessageBox } from 'element-plus';
const loading = ref(true)
const $cookies = inject<VueCookies>("$cookies")
const search = ref("")
const createGroup = ref(false)

const tableData = ref([])
const search_it = () => {
    api.query({
        "name": search.value,
        "pageNum": 1,
        "pageSize": 10,
        "uuid": $cookies.get('uuid')
    }).then(async function (res_) {
        var tableData_ = [];
        const res = res_.data;
        var list = res.list;
        const length = list.length
        for (let index = 0; index < length; index++) {
            var qnumber: number;
            var tableData2_ = []
            await api.queryques({
                "uuid": list[index].uuid
            }).then(function (res_) {
                const res = res_.data;
                var list = res;
                const length = list.length
                qnumber = length;

                for (let index = 0; index < length; index++) {
                    tableData2_.push({
                        name: list[index].name,
                        stime: list[index].startDate,
                        etime: list[index].endDate,
                        type: list[index].type,
                        link: list[index].link,
                    })
                }
            })
            tableData_.push({
                tableData2 : tableData2_,
                name: list[index].name,
                birthday: list[index].created_time,
                number: list[index].number,
                qnumber: qnumber,
                qsnumber: list[index].history_number,
                uuid: list[index].uuid
            })

        }
        loading.value = false
        tableData.value = tableData_
    })
}
search_it()
const delit = async (row) => {
    const uuid = row.uuid
    await groupapi.group_status({
        uuid: uuid
    }).then(function (res_) {
        if (res_.data.status === 1) {
            ElMessageBox.confirm('确定要删除群组吗?')
                .then(async () => {
                    await groupapi.group_delete({
                        uuid: uuid
                    })
                    location.reload()
                })
        } else{
            ElMessageBox.alert('不能删除')
        }
    })

}
const view = (row) => {
    console.log(row)
    $cookies.set('group_name', row.name)
    $cookies.set('group_uuid', row.uuid)
    router.push('/v2/consumer/view')
}
const name = ref("")
const cancel = ()=>{
    name.value = ""
    createGroup.value = false
}
const confirm = ()=>{
    groupapi.group_create({
        uuid : $cookies.get('uuid'),
        name : name.value,
    }).then(function (res_){
        const res = res_.data
        $cookies.set('group_name', name.value)
        $cookies.set('group_uuid', res.uuid)
        router.push('/v2/consumer/view')
    })
}
</script>