<template>

  <el-card class="box-card" style="width:95%;margin:2%">
    <template #header>
      <div class="card-header">
        <el-space :size="10">
          <el-icon :size="30">
            <Back />
          </el-icon>
          <el-divider direction="vertical" />

          <span style="font-size: 30px;">批量导入答者</span>
        </el-space>
      </div>

    </template>
    <el-upload class="upload-demo" drag action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
      :on-change="readExcel" :auto-upload="false" :on-remove="remove" :limit="1">
      <el-icon class="el-icon--upload">
        <upload-filled />
      </el-icon>
      <div class="el-upload__text">
        将文件拖拽至此或<em>点击</em>来导入
      </div>
      <template #tip>
        <div class="el-upload__tip">
          请导入excel格式的答者
        </div>
      </template>
    </el-upload>
    <el-row justify="end">
      <el-button type="primary" @click="submit">批量导入</el-button>

      <el-button type="primary" color="red" @click="delit">批量删除</el-button>
    </el-row>
    <el-table ref="multipleTableRef" :data="tableData" style="width: 100%" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" />
      <el-table-column label="账号" property="username" width="120" />
      <el-table-column property="password" label="密码" width="120" />
      <el-table-column property="name" label="姓名" show-overflow-tooltip />
      <el-table-column property="phone" label="手机号" show-overflow-tooltip />

    </el-table>
    <div style="margin-top: 20px">
    </div>

  </el-card>


</template>
<script lang="ts" setup>
import { ref, inject } from 'vue'
import { ElTable, UploadFile, UploadFiles } from 'element-plus'
import { api } from "@/api/answerer";
import { VueCookies } from 'vue-cookies';
import router from '@/router';

const $cookies = inject<VueCookies>("$cookies")
const XLSX = require('xlsx')
interface User {
  "username": string,
  "password": string,
  "phone": string,
  "name": string
}

const multipleTableRef = ref<InstanceType<typeof ElTable>>()
const multipleSelection = ref<User[]>([])

const handleSelectionChange = (val: User[]) => {
  console.log(val)
  multipleSelection.value = val
}
const delit = () => {
  tableData.value = tableData.value.map((value: User) => {
    if (!multipleSelection.value.includes(value)) {
      return value;
    } else {
      return null;
    }
  }).filter((value: User) => value !== null)

}
const submit = async () => {
  if (multipleSelection.value.length !== 0) {
    await api.answerer_createAnswererBatch({
      uuid: $cookies.get("uuid"),
      answererList: multipleSelection.value
    }).then(function (res_) {
      router.forward()
    })
  }

}
const tableData = ref<User[]>()
const readExcel = (uploadFile: UploadFile, uploadFiles: UploadFiles) => {
  // 读取表格文件
  const file = uploadFile.raw;

  if (file.size <= 0) {
    return false;
  } else if (!/\.(xls|xlsx)$/.test(file.name.toLowerCase())) {

    return false;
  } else {
    // 更新获取文件名"""
  }

  const fileReader = new FileReader();
  fileReader.onload = ev => {
    try {
      const data = ev.target.result;
      const workbook = XLSX.read(data, {
        type: "binary"
      });
      const wsname = workbook.SheetNames[0]; //取第一张表
      const ws = XLSX.utils.sheet_to_json(workbook.Sheets[wsname]); //生成json表格内容
      tableData.value = [];
      // 从解析出来的数据中提取相应的数据
      ws.forEach(item => {
        tableData.value.push({
          username: item["用户名"].toString(),
          password: item["密码"].toString(),
          name: item["姓名"].toString(),
          phone: item["手机号"].toString(),
        });
      });
    } catch (e) {
      return false;
    }
  };
  fileReader.readAsBinaryString(file);
}
const remove = () => {
  tableData.value = []
}
</script>