<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <el-space :size=20>
                    <span style="font-size:20px">我的问卷</span>
                    <el-input></el-input>
                    <el-button type="primary">搜索</el-button>
                </el-space>
                <router-link to="/v2/consumer/create">
                    <el-button type="primary" style="float:right">创建问卷</el-button>
                </router-link>
            </div>
        </template>
        <el-space wrap>
            <el-card v-for="(item, index) in data" class="box-card" style="width: 300px">
                <template #header>
                    <div class="card-header">
                        <span style="font-size:20px">{{ item.name }}</span>
                    </div>
                </template>
                <el-image style="width:100%;height:200px" :src="item.url">
                </el-image>
                <el-divider />
                <span>{{ item.type }}</span>
                <el-divider />

                <div>
                    <router-link to="/v2/consumer/edit">
                        <el-button type="primary" style="width:70px" @click="editQuestionnaire(index)">编辑</el-button>
                    </router-link>
                    <router-link to="/v2/consumer/preview">
                        <el-button type="primary" style="width:70px;margin-left: 22px;" @click="editQuestionnaire(index)">预览</el-button>
                    </router-link>
                    <el-button type="primary" style="float:right;width:70px" @click="deleteQuestionnaire(index)">删除</el-button>
                </div>
            </el-card>
        </el-space>
    </el-card>
</template>
<script setup>
import { ref } from 'vue'
import { useStore } from "vuex";
const store=useStore()
const data = ref([
    {
        name: '高校食堂满意度调查问卷',
        url: 'https://img0.baidu.com/it/u=3072632606,1018375860&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1668877200&t=081f59d7bee82928e64601e5695ab9fe',
        type: '用来调查某个高校学生针对本校食堂的满意度',
        uuid: "10086"
    },
    {
        name: '高校恋爱调查问卷',
        url: 'https://img2.baidu.com/it/u=2195750606,1495364033&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1668877200&t=b360291ba0eb89cc873a7002111a03d1',
        type: '用来调查某个高校学生的恋爱观与恋爱情况',
        uuid: "10086"
    },
    {
        name: '关于原神了解程度的调查',
        url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.dtstatic.com%2Fuploads%2Fblog%2F202108%2F30%2F20210830141330_cb609.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.dtstatic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671361667&t=b29fc555671e9fdf6751f64cbd38d72c',
        type: '用来调查被调查群体对《原神》的了解程度',
        uuid: "10086"
    }
])

const deleteQuestionnaire = (index) => {
  console.log(data)
  console.log(data.value)
  data.value.splice(index,1)
  //这里需要向后端发送请求，但是data都是假数据在。。。
}

const editQuestionnaire = (index) => {
  //我需要从data里拿到uuid，我先假装他有了。。。
  let uuid=data.value[index].uuid
  store.commit("questionnaire/setUuid",uuid)
  console.log(store.state.questionnaire.uuid)
}

const preview = (index) => {
  //我需要从data里拿到uuid，我先假装他有了。。。
  let uuid=data.value[index].uuid
  store.commit("questionnaire/setUuid",uuid)
  store.commit("questionnaire/state0",1)
}
</script>
