<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <span style="font-size: 30px;">个人资料</span>
                <el-button class="button" text @click="router.push('/v2/tenant/editself')">编辑个人信息</el-button>
            </div>
        </template>
        <el-row :gutter="135">
            <el-col :offset="2" :span="4">
                <el-avatar :size=150
                    :src="url" />
            </el-col>
            <el-col :span="8">
                <h2 style="font-size:40px">快乐的张三</h2>
                <div style="font-size:30px;font-family: serif;">
                    <el-divider direction="vertical" />

                    <span>辽宁</span>
                    <el-divider direction="vertical" />
                </div>
                <el-collapse style="margin-top: 5px;font-size: 10px;" v-model="activeNames">
                    <el-collapse-item title="查看详细资料" name="1">
                        <li>
                            IP属地：辽宁
                        </li>
                    </el-collapse-item>
                </el-collapse>
            </el-col>
            <el-col :span="10" :offset="0">
                <el-card shadow="hover">
                    <template #header>
                        <div class="card-header">
                            <span style="font-size: 20px;float:left">当前可创建：</span>
                        </div>
                    </template>
                    <el-icon :size="30" color="#6699CC">
                        <WalletFilled />
                    </el-icon> <span style="font-size: 20px">问卷100份</span>
                    <el-divider direction="vertical" />

                    <span style="font-size: 20px">群组200个</span>

                </el-card>

            </el-col>
        </el-row>
        <el-divider />
        <el-row>
            <el-col :offset="2">
                <el-timeline style="width:80%">
                    <el-timeline-item timestamp="2018/4/12" placement="top">
                        <el-card>
                            <h4>充值操作</h4>
                            <p>租户给您存入10个群组</p>
                        </el-card>
                    </el-timeline-item>
                    <el-timeline-item timestamp="2018/4/12" placement="top">
                        <el-card>
                            <h4>充值操作</h4>
                            <p>租户给您存入20个问卷</p>
                        </el-card>
                    </el-timeline-item>
                    <el-timeline-item timestamp="2018/4/3" placement="top">
                        <el-card>
                            <h4>消费操作</h4>
                            <p>创建《高校满意度调查问卷》，消费 1 次问卷创建次数</p>
                        </el-card>
                    </el-timeline-item>
                </el-timeline>
            </el-col>
        </el-row>
    </el-card>


</template>

<script lang="ts" setup>
import { ref } from 'vue'
import router from '@/router';
const activeNames = ref(['1'])
const url = ref("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202105%2F04%2F20210504062111_d8dc3.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671164269&t=7c468314b026daf224729cce179395a5")
</script>

    
<style>
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.box-card-data {
    width: 480px;
}

.el-row {
    margin-bottom: 20px;
}

.el-row:last-child {
    margin-bottom: 0;
}
</style>
    