<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <el-space :size="10">
                    <el-icon :size="30">
                        <Back />
                    </el-icon>
                    <el-divider direction="vertical" />
                    <span style="font-size: 30px;">群组资料</span>
                </el-space>

            </div>
        </template>
        <el-row :gutter="20">
            <el-col :span=8>
                <el-row>
                    <el-col :span=10>
                        <el-input v-model="input" style="width:200px" :disabled="disabled" />

                    </el-col>
                    <el-col :span=5>
                        <el-button type="primary" text @click="edit">{{ text }}</el-button>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span=10>
                <el-collapse v-model="activeNames" style="width:50%">
                    <el-collapse-item title="查看详细信息" name="1">
                        <div style="font-size:15px">
                            <span>2000-9-1创建</span>
                            <el-divider direction="vertical" />
                            <span>当前群成员512人</span>
                            <el-divider direction="vertical" />
                            <span>累计回答问卷120人次</span>
                        </div>
                    </el-collapse-item>
                </el-collapse>
            </el-col>
        </el-row>
        <el-divider />
        <el-row :gutter="20">
            <el-col :span="10">
                <el-card>
                    <template #header>
                        <div class="card-header">
                            <span style="font-size: 25px;">成员管理</span>
                        </div>
                    </template>
                    <el-transfer v-model="value" filterable filter-placeholder="请搜索..." :filter-method="filterMethod"
                        :data="data" :titles="['未加入答者', '已加入答者']" @change="handleChange" />
                </el-card>
            </el-col>
            <el-col :span="10">
                <el-space :size="20">
                    <el-card>
                        <template #header>
                            <div class="card-header">
                                <span style="font-size: 15px;">高校满意度调查问卷</span>
                            </div>
                        </template>
                        <div>
                            <el-image style="width:150px"
                                src="https://bpic.588ku.com/element_origin_min_pic/19/12/11/c3f4ae1a60baf6092aec4b4b7d2866fa.jpg" />
                        </div>
                        <span style="font-size: 17x;float:left">答卷进度</span>
                        <el-progress :text-inside="true" :stroke-width="20" :percentage="70" />
                    </el-card>
                    <el-card>
                        <template #header>
                            <div class="card-header">
                                <span style="font-size: 15px;">关于课程计划的建议</span>
                            </div>
                        </template>
                        <div>
                            <el-image style="width:150px"
                                src="https://bpic.588ku.com/element_origin_min_pic/19/12/11/c3f4ae1a60baf6092aec4b4b7d2866fa.jpg" />
                        </div>
                        <span style="font-size: 17x;float:left">答卷进度</span>
                        <el-progress :text-inside="true" :stroke-width="20" :percentage="30" />
                    </el-card>
                    <el-card>
                        <template #header>
                            <div class="card-header">
                                <span style="font-size: 15px;">食堂满意度调查问卷</span>
                            </div>
                        </template>
                        <div>
                            <el-image style="width:150px"
                                src="https://bpic.588ku.com/element_origin_min_pic/19/12/11/c3f4ae1a60baf6092aec4b4b7d2866fa.jpg" />
                        </div>
                        <span style="font-size: 17x;float:left">答卷进度</span>
                        <el-progress :text-inside="true" :stroke-width="20" :percentage="80" />
                    </el-card>
                </el-space>

            </el-col>
        </el-row>


    </el-card>
</template>
<script lang="ts" setup>
import { ref, inject } from 'vue'
import { api } from '@/api/consumer'
import { VueCookies } from 'vue-cookies';
const $cookies = inject<VueCookies>("$cookies")
const input = ref($cookies.get('group_name'))
const activeNames = ref(['1'])
const disabled = ref(true)
const text = ref("编辑")
interface Option {
    key: number
    label: string
    initial: string
    uuid: string
}
const data = ref<Option[]>([])
const value = ref<number[]>([])
const filterMethod = (query: string, item: {
    label: string,
    key: number,
    initial: string,
}) => {
    return item.initial.includes(query)
}
const edit = () => {
    if (disabled.value == true) {
        disabled.value = false
        text.value = "保存"
    } else {
        api.change({
            "uuid": $cookies.get('group_uuid'),
            "name": input.value,
        }).then(function (res) {
            disabled.value = true
            text.value = "修改"
            $cookies.set('group_name', input.value)
        })
    }
}
const length = ref<number>(0)
const getall = async () => {
    await api.getAnswerer({
        uuid: $cookies.get('group_uuid')
    }).then(function (res_) {
        const res = res_.data;
        res.forEach((answerer, index) => {
            data.value.push({
                label: answerer.name,
                key: index,
                initial: answerer.name,
                uuid: answerer.uuid,
            })
        }

        )
        length.value = res.length
    })
    await api.unadd({
        cluster_uuid: $cookies.get('group_uuid'),
        consumer_uuid: $cookies.get('uuid')
    }).then(function (res_) {
        const res = res_.data;
        res.forEach((answerer, index) => {
            data.value.push({
                label: answerer.name,
                key: length.value + index,
                initial: answerer.name,
                uuid: answerer.uuid,
            })
        }

        )
    })
    for (let index = 0; index < length.value; index++) {
        value.value.push(index)
    }
}
const handleChange = async (
    value: number,
    direction: 'left' | 'right',
    movedKeys: number[]) => {
    console.log(value, direction, movedKeys)
    if (direction == 'left') {
        await api.deleteAnswererFromCluster({
            cluster_uuid: $cookies.get('group_uuid'),
            answererList: data.value.filter((x) => { return movedKeys.includes(x.key) })
                .map((a: Option) => {
                    return {
                        "uuid": a.uuid //答者uuid
                    }
                })
        }).then(function (res_) {
        })
    } else {
        await api.addAnswererToCluster({
            uuid: $cookies.get('group_uuid'),
            answererList: data.value.filter((x) => { return movedKeys.includes(x.key) })
                .map((a: Option) => {
                    return {
                        "uuid": a.uuid //答者uuid
                    }
                })
        }).then(function (res_) {
        })
    }
}
getall()
</script>