
<template>
  <answererHeader @pressButton="pressed = true"></answererHeader>
  <answererAside @close="pressed = false" :drawer="pressed"></answererAside>
  <RouterView></RouterView>
</template>
<script>
import answererHeader from './header.vue'
import answererAside from './aside.vue'

export default {
  components: {
    answererHeader,
    answererAside,
  },
  data() {
    return {
      pressed: false
    }
  }
}
</script>