<template>
  <el-drawer v-model="drawer" @close="$emit('close')" size='15%' :with-header="false" direction="ltr">
    <el-row class="tac">
      <el-col>
        <h5 class="mb-2"> 请选择功能</h5>
        <el-menu class="el-menu-vertical-demo" router>
          <el-menu-item index="/v2/answerer/self">
            <el-icon>
              <document />
            </el-icon>
            <span>个人信息</span>
          </el-menu-item>
          <el-menu-item index="/v2/answerer/ques">
            <el-icon>
              <document />
            </el-icon>
            <span>待答问卷</span>
          </el-menu-item>
          <el-menu-item index="/v2/answerer/group">
            <el-icon>
              <document />
            </el-icon>
            <span>我的群组</span>
          </el-menu-item>
          <el-menu-item index="/v2/answerer/award">
            <el-icon>
              <document />
            </el-icon>
            <span>兑换奖品</span>
          </el-menu-item>
        </el-menu>
      </el-col>
    </el-row>
  </el-drawer>
</template>
  
<script  setup>

import { ref, computed } from 'vue'
import {
  Document,
  Menu as IconMenu,
  Location,
  Setting,
} from '@element-plus/icons-vue'

const props = defineProps(['drawer'])
const drawer = computed({
  // getter
  get() {
    return props.drawer
  },
  // setter
  set(newValue) {}
})
</script>
  