<template>
  <el-card class="box-card" style="width:94%;margin:3%">
    <el-scrollbar>
      <el-row :gutter="10" >
        <el-col :span="6" v-for="(item, index) in items" style="margin-top:10px">
          <el-card  class="box-card" >
          <template #header>
            <div class="card-header">
              <span>{{ item.name }}</span>
            </div>
            <img :src="item.url" class="image" style="width:260px;margin-top: 5px;" />
            <div style="padding: 14px">
              <span>{{ item.desc }}</span>
            </div>
            <span style="">{{ item.credits }}</span>
            <el-button class="button" type="primary" style="float:right">购买</el-button>
          </template>

        </el-card>

        </el-col>
      </el-row>
      
    </el-scrollbar>
  </el-card>
</template>
<script lang="ts" setup>
import { ref, reactive } from "vue";
const items = ref([
  {
    credits: '所需积分10000',
    name: "小电风扇",
    url: "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimgservice.suning.cn%2Fuimg1%2Fb2c%2Fimage%2FUcdmhs2f3FOXJP4onZRomA.png&refer=http%3A%2F%2Fimgservice.suning.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671265550&t=75d5be16e6404479201468aa388a501f",
    desc: "风力强劲，快来选购",
  },
  {
    credits: '所需积分20000',
    name: "耳机",
    url: "https://tse2-mm.cn.bing.net/th/id/OIP-C.oZsRqXSqFb5KVP_aVG5kXgHaHa?w=205&h=205&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "持久续航，音质清晰",
  },
  {
    credits: '所需积分15000',
    name: "台灯",
    url: "https://tse3-mm.cn.bing.net/th/id/OIP-C.VLVgDqgveOo3PUBVagOOkgHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "光亮充足，陪伴学习",
  },
  {
    credits: '所需积分15000',
    name: "台灯",
    url: "https://tse3-mm.cn.bing.net/th/id/OIP-C.VLVgDqgveOo3PUBVagOOkgHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "光亮充足，陪伴学习",
  },
  {
    credits: '所需积分15000',
    name: "台灯",
    url: "https://tse3-mm.cn.bing.net/th/id/OIP-C.VLVgDqgveOo3PUBVagOOkgHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "光亮充足，陪伴学习",
  },
  {
    credits: '所需积分15000',
    name: "台灯",
    url: "https://tse3-mm.cn.bing.net/th/id/OIP-C.VLVgDqgveOo3PUBVagOOkgHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "光亮充足，陪伴学习",
  },
  {
    credits: '所需积分15000',
    name: "台灯",
    url: "https://tse3-mm.cn.bing.net/th/id/OIP-C.VLVgDqgveOo3PUBVagOOkgHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "光亮充足，陪伴学习",
  },
  {
    credits: '所需积分15000',
    name: "台灯",
    url: "https://tse3-mm.cn.bing.net/th/id/OIP-C.VLVgDqgveOo3PUBVagOOkgHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "光亮充足，陪伴学习",
  },
  {
    credits: '所需积分15000',
    name: "台灯",
    url: "https://tse3-mm.cn.bing.net/th/id/OIP-C.VLVgDqgveOo3PUBVagOOkgHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7",
    desc: "光亮充足，陪伴学习",
  },
])
</script>