<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <span style="font-size: 30px;">答者资料</span>
            </div>
        </template>
        <el-row :gutter="135">
            <el-col :offset="2" :span="4">
                <el-avatar :size=150
                    src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202105%2F04%2F20210504062111_d8dc3.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671164269&t=7c468314b026daf224729cce179395a5" />
            </el-col>
            <el-col :span="8">
                <el-upload class="avatar-uploader" action="http://139.224.119.118:8085/image/upload" :show-file-list="false"
                   :on-success="handleAvatarSuccess">
                    <el-icon class="avatar-uploader-icon">
                        <Plus />
                    </el-icon>
                </el-upload>
            </el-col>
        </el-row>
        <el-divider />
        <el-row>
            <el-col :offset="1">
                <el-card class="box-card" style="width:90%">
                    <template #header>
                        <div class="card-header">
                            <span style="font-size:20px">个人信息</span>
                        </div>
                    </template>
                    <el-form :model="form" label-width="120px">
                        <el-form-item label="姓名">
                            <el-input style="width:25%" v-model="form.name" />
                        </el-form-item>
                        <el-form-item label="组织">
                            <el-input style="width:25%" v-model="form.organization" />
                        </el-form-item>
                        <el-form-item label="身份">
                            <el-input style="width:25%" v-model="form.role" />
                        </el-form-item>
<!--                        <el-form-item label="地址">-->
<!--                            <City v-model="form.address" :cities="cities" />-->
<!--                        </el-form-item>-->
                      <el-form-item label="地址">
                        <el-input style="width:25%" v-model="form.address" />
                      </el-form-item>
                      <el-form-item label="年龄">
                        <el-input style="width:25%" v-model="form.age" />
                      </el-form-item>
<!--                        <el-form-item label="标签"> -->
<!--                            <el-card style="width:400px">-->
<!--                                <el-tag v-for="tag in form.dynamicTags" :key="tag" class="mx-1" closable-->
<!--                                    :disable-transitions="false" @close="handleClose(tag)">-->
<!--                                    {{ tag }}-->
<!--                                </el-tag>-->
<!--                                <el-input v-if="inputVisible" ref="InputRef" v-model="inputValue" class="ml-1 w-20"-->
<!--                                    size="small" @keyup.enter="handleInputConfirm" @blur="handleInputConfirm" />-->
<!--                                <el-button v-else class="button-new-tag ml-1" size="small" @click="showInput">-->
<!--                                    + 新标签-->
<!--                                </el-button>-->
<!--                            </el-card>-->

<!--                        </el-form-item>-->
                      <el-form-item label="标签">
                        <el-input style="width:25%" v-model="form.tag" />
                      </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">提交</el-button>
                            <el-button @click="router.go(-1)">取消</el-button>
                        </el-form-item>
                    </el-form>

                </el-card>

            </el-col>
        </el-row>
    </el-card>


</template>
    
<script lang="ts" setup>
import { ref, inject } from 'vue'
import { Plus } from '@element-plus/icons-vue'
import { nextTick } from 'vue'
import { reactive } from 'vue'
import router from '@/router';
import { api as imageapi } from "@/api/general";
import {ElMessageBox, UploadProps} from 'element-plus';
import { VueCookies } from "vue-cookies";
import {api} from "@/api/consumer";

const $cookies = inject<VueCookies>("$cookies")

const url = ref('')
const value1 = ref('')
const form =ref({
    name: '',
  organization: '',
    age: '',
    role: '',
    delivery: false,
    type: [],
    resource: '',
    address: '',
    tag:"",
})
const inputValue = ref('')
const dynamicTags = ref(['乐观', '玩游戏', '水果'])
const inputVisible = ref(false)
const InputRef = ref()

const handleClose = (tag) => {
    dynamicTags.value.splice(dynamicTags.value.indexOf(tag), 1)
}

const showInput = () => {
    inputVisible.value = true
    nextTick(() => {
        InputRef.value.input.focus()
    })
}

const handleInputConfirm = () => {
    if (inputValue.value) {
        dynamicTags.value.push(inputValue.value)
    }
    inputVisible.value = false
    inputValue.value = ''
}

const Answereruuid=$cookies.get('Answereruuid')

const onSubmit = async () => {
  await api.editAnswererInfo({
    "uuid":Answereruuid,
    "name":form.value.name,
    "age":form.value.age,
    "address":form.value.address,
    "organization":form.value.organization,
    "role":form.value.role,
    "tag":form.value.tag
  }).then(function (res) {
  })
    router.go(-1)
}

const handleAvatarSuccess: UploadProps['onSuccess'] = async (
    response: { data: string },
    uploadFile
) => {
  const uuid = response.data;
  await imageapi.changeImage(
      {
        userUuid: $cookies.get("uuid"),
        imageUuid: uuid,
      }
  )
  location.reload()
  // refresh()
}
const refresh = () => {
  imageapi.getImagePath({
    userUuid: $cookies.get("uuid")
  }).then(function (res_) {
    const res = res_.data
    if (res != null) {
      // http://139.224.119.118:8085/image/get?filename=85d5281ead9a45559db4bc4f83edcbbc&format=jpg
      url.value = "http://139.224.119.118:8085/image/get?filename=" + res.image_uuid + "&format=" + res.format
    } else{
      url.value = "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202105%2F04%2F20210504062111_d8dc3.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671164269&t=7c468314b026daf224729cce179395a5"
    }
  })
}
</script>
    
<style scoped>
.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.demo-date-picker {
    display: flex;
    width: 25%;
    padding: 0;
    flex-wrap: wrap;
}

.demo-date-picker .block {
    padding: 30px 0;
    text-align: center;
    border-right: solid 1px var(--el-border-color);
    flex: 1;
}

.demo-date-picker .block:last-child {
    border-right: none;
}

.demo-date-picker .demonstration {
    display: block;
    color: var(--el-text-color-secondary);
    font-size: 14px;
    margin-bottom: 20px;
}
</style>
<style>
.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.box-card-data {
    width: 480px;
}

.el-row {
    margin-bottom: 20px;
}

.el-row:last-child {
    margin-bottom: 0;
}
</style>
      