<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <el-space :size=20>
                    <span style="font-size:20px">我加入的群组</span>
                </el-space>
            </div>
        </template>
        <el-space wrap>
            <el-card v-for="(item, index) in data" class="box-card" style="width: 300px">
                <template #header>
                    <div class="card-header">
                        <span style="font-size:20px">{{ item.name }}</span>
                    </div>
                </template>
                <span>创建者：{{ item.creator }}</span>
                <el-divider />
                <span>该群组共有{{ item.number }}人</span>
                <el-divider />
            </el-card>
        </el-space>
    </el-card>
</template>
<script setup>
import { ref } from 'vue'
const data = ref([
    {
        name: '软件2012班',
        creator: '张三',
        number: '123'
    },
    {
        name: '软件学院20级本科生',
        creator: '张三',
        number: '23'
    },
    {
        name: '软件学院主席团',
        creator: '张三',
        number: '2333'
    }
])

</script>