<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>
            <div class="card-header">
                <span style="font-size: 30px;">待答问卷列表</span>
            </div>
        </template>
        <el-space wrap>
            <el-card v-for="(item, index) in data" class="box-card" style="width: 300px">
                <template #header>
                    <div class="card-header">
                        <span style="font-size:20px">{{ item.name }}</span>
                    </div>
                </template>
                <el-image style="width:100%;height:200px" :src="item.url">
                </el-image>
                <el-divider />
                <span>{{ item.type }}</span>
                <el-divider />
                <CountDown :target="targetTime1" v-font="20" />
                <el-divider />

                <div>
                    <el-button type="primary" style="width:100px">填写</el-button>
                    <el-button type="primary" style="float:right;width:100px">忽略</el-button>

                </div>
            </el-card>
        </el-space>
    </el-card>
</template>
<script setup>
import { ref } from 'vue'
const targetTime1= new Date().getTime() + 3900000
const data = ref([
    {
        name: '高校食堂满意度调查问卷',
        url: 'https://img0.baidu.com/it/u=3072632606,1018375860&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1668877200&t=081f59d7bee82928e64601e5695ab9fe',
        type: '用来调查某个高校学生针对本校食堂的满意度'
    },
    {
        name: '高校恋爱调查问卷',
        url: 'https://img2.baidu.com/it/u=2195750606,1495364033&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1668877200&t=b360291ba0eb89cc873a7002111a03d1',
        type: '用来调查某个高校学生的恋爱观与恋爱情况'
    },
    {
        name: '关于原神了解程度的调查',
        url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.dtstatic.com%2Fuploads%2Fblog%2F202108%2F30%2F20210830141330_cb609.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.dtstatic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671361667&t=b29fc555671e9fdf6751f64cbd38d72c',
        type: '用来调查被调查群体对《原神》的了解程度'
    }
])

</script>