
<template>
    <adminHeader @pressButton="pressed = true"></adminHeader>
    <adminAside @close="pressed = false" :drawer="pressed" ></adminAside>
    <RouterView></RouterView>
    
</template>
<script>

import adminHeader from './header.vue'
import adminAside from './aside.vue'

export default {
components: {
adminHeader,
adminAside,

},
data(){
    return {
        pressed : false
    }
}
}
</script>