<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span style="font-size:25px">美汁源相关广告</span>
        <el-button type="primary" style="float:right ;">新增广告</el-button>
      </div>
    </template>
    <el-upload v-model:file-list="fileList" action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
      list-type="picture-card" :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
      <el-icon>
        <Plus />
      </el-icon>
    </el-upload>
    <el-dialog v-model="dialogVisible">
      <img w-full :src="dialogImageUrl" alt="Preview Image" />
    </el-dialog>
    <el-divider />
    <el-tag v-for="tag in dynamicTags" :key="tag" class="mx-1" closable :disable-transitions="false"
      @close="handleClose(tag)">
      {{ tag }}
    </el-tag>
    <el-input style="width:100px" v-if="inputVisible" ref="InputRef" v-model="inputValue" class="ml-1 w-20" size="small"
      @keyup.enter="handleInputConfirm" @blur="handleInputConfirm" />
    <el-button v-else class="button-new-tag ml-1" size="small" @click="showInput">
      +新增标签
    </el-button>
  </el-card>
</template>
<script  setup>
import { ref } from 'vue'
import { Plus } from '@element-plus/icons-vue'

import UploadUserFile from 'element-plus'
import UploadProps from 'element-plus'
import { nextTick } from 'vue'
import { ElInput } from 'element-plus'

const inputValue = ref('')
const dynamicTags = ref(['橙子', '果汁', '饮料'])
const inputVisible = ref(false)
const InputRef = ref()
const fileList = ref([
  {
    name: 'food.jpeg',
    url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp0.itc.cn%2Fq_70%2Fimages03%2F20210210%2Fa952858d4fc848fe9eec31fad36a8725.jpeg&refer=http%3A%2F%2Fp0.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671268887&t=50be982cd696810dcc788031b3cacfb7',
  },
  {
    name: 'food.jpeg',
    url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp6-tt.byteimg.com%2Forigin%2Fpgc-image%2Fec4f3909814349a1a5e10852a153e213%3Ffrom%3Dpc&refer=http%3A%2F%2Fp6-tt.byteimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671268887&t=6ec61e506567c13daab95cf732339c54',
  },
  {
    name: 'food.jpeg',
    url: 'http://t15.baidu.com/it/u=2141748715,4090268478&fm=224&app=112&f=JPEG?w=430&h=430&s=53DA3DD2006762AAA089275903009066',
  },
  {
    name: 'food.jpeg',
    url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Finews.gtimg.com%2Fnewsapp_bt%2F0%2F13889816816%2F1000.jpg&refer=http%3A%2F%2Finews.gtimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671268887&t=96ae53b56e5ef9b1c1c954ba92b63ce3',
  },
])

const dialogImageUrl = ref('')
const dialogVisible = ref(false)

const handleRemove = (uploadFile, uploadFiles) => {
  console.log(uploadFile, uploadFiles)
}

const handleClose = (tag) => {
  dynamicTags.value.splice(dynamicTags.value.indexOf(tag), 1)
}

const showInput = () => {
  inputVisible.value = true
  nextTick(() => {
    InputRef.value.input.focus()
  })
}

const handleInputConfirm = () => {
  if (inputValue.value) {
    dynamicTags.value.push(inputValue.value)
  }
  inputVisible.value = false
  inputValue.value = ''
}

const handlePictureCardPreview = (uploadFile) => {
  dialogImageUrl.value = uploadFile.url
  dialogVisible.value = true
}
</script>
<style>
.box-card {
  width: 94%;
  margin: 2%;
}
</style>
  