<template>
  <el-drawer v-model="drawer" @close="$emit('close')" size='15%' :with-header="false" direction="ltr">
    <el-row class="tac">
      <el-col>
        <h5 class="mb-2"> 请选择功能</h5>
        <el-menu class="el-menu-vertical-demo" router>
          <el-menu-item index="/v2/admin/view">
            <el-icon>
              <View />
            </el-icon>
            <span>数据总览</span>
          </el-menu-item>
          <el-menu-item index="/v2/admin/bill">
            <el-icon>
              <icon-menu />
            </el-icon>
            <span>套餐管理</span>
          </el-menu-item>
          <el-menu-item index="/v2/admin/list">
            <el-icon>
              <UserFilled />
            </el-icon>
            <span>租户管理</span>
          </el-menu-item>
          <el-menu-item index="/v2/admin/board">
            <el-icon>
              <UserFilled />
            </el-icon>
            <span>公告管理</span>
          </el-menu-item>
          <el-menu-item index="/v2/admin/adv">
            <el-icon>
              <UserFilled />
            </el-icon>
            <span>广告管理</span>
          </el-menu-item>
        </el-menu>
      </el-col>
    </el-row>
  </el-drawer>
</template>
  
<script setup>

import { ref, computed } from 'vue'
import {
  Document,
  Menu as IconMenu,
  Location,
  Setting,
} from '@element-plus/icons-vue'
import router from '@/router';

const props = defineProps(['drawer'])
const drawer = computed({
  // getter
  get() {
    return props.drawer
  },
  // setter
  set(newValue) {}
})
</script>
  