<template>
    <el-card style="width:95%;margin:2%">
        <template #header>
            <div>
                <span>套餐一览</span>
                <el-button type="primary" style="float: right;" @click="add">新增套餐</el-button>
            </div>
        </template>
        <el-col>
            <el-row>
                <el-space wrap>
                    <el-card :body-style="{ padding: '0px' }" style="width:300px" v-for="(item, index) in items">
                        <img :src="item.addr" class="image" />
                        <div style="padding: 14px">
                            <el-form :ref="(el) => item.formRef = el" :model="item.numberValidateForm" label-width="70px"
                                class="demo-ruleForm">
                                <el-form-item label="充值：" prop="deposit" :rules="[
                                    { required: true, message: '必须要有充值金额' },
                                    { type: 'number', message: '充值金额必须是个数' },
                                ]">
                                    <el-input style="width:100%" v-model.number="item.numberValidateForm.deposit"
                                        :disabled="item.disabled" />
                                </el-form-item>
                                <el-form-item label="赠送：" prop="free" :rules="[
                                    { required: true, message: '必须要有赠送金额' },
                                    { type: 'number', message: '赠送金额必须是个数' },
                                ]">
                                    <el-input style="width:100%" v-model.number="item.numberValidateForm.free"
                                        :disabled="item.disabled" />
                                </el-form-item>
                                <el-form-item>
                                    <div class="bottom">
                                        <el-button type="primary" @click="edit(item)">
                                            {{ item.text }}
                                        </el-button>
                                        <el-button type="primary" @click="detit(index)">删除</el-button>

                                    </div>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                </el-space>
            </el-row>
        </el-col>
    </el-card>
</template>
<script  lang="ts"  setup>
import { reactive, ref } from 'vue'
import { api } from '@/api/admin1'
import router from '@/router';
import { VueCookies } from 'vue-cookies';
import { ElMessageBox } from "element-plus";

const items=ref([])

const search_it = () => {
  api.getAllBill({
  }).then(async function (res_) {
    var tableData_ = [];
    const res = res_.data;
    var list = res.list;
    var list1 = [];
    const length = list.length
    for (let index = 0; index < length; index++) {
      tableData_.push({
        disabled: true,
         text: "修改",
        formRef: null,
        uuid:list[index].uuid,
        numberValidateForm: {
             deposit: list[index].pay,
             free: list[index].give,
         },
         addr: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sNgJbOmiHzUdU0IXCsjoxgHaIF%26pid%3DApi&f=1&ipt=664dd77e0e3f91207870ae9d2797d78e0dae899a97cee24802eb18d5b6aee553&ipo=images",
      })
    }
    items.value = tableData_
  })
}

search_it()





const add = () => {
    items.value.push({
        disabled: false,
        text: "保存",
        formRef: null,
        numberValidateForm: {
            deposit: 0,
            free: 0,
        },
        addr: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sNgJbOmiHzUdU0IXCsjoxgHaIF%26pid%3DApi&f=1&ipt=664dd77e0e3f91207870ae9d2797d78e0dae899a97cee24802eb18d5b6aee553&ipo=images",
    })
}
// const disabled = ref(true)
// const text = ref("修改")

// const formRef = ref()
// const numberValidateForm = reactive({
//     deposit: 100,
//     free: 50,
// })



const detit = async (index) => {
  const uuid =items.value[index].uuid
  api.deleteBill({
   "uuid":uuid
  }).then(async function (res_) {
    search_it()
  })
}

const edit =async (item) => {
    if (item.disabled) {
        item.disabled = false
        item.text = "保存修改"
        return
    } else {
        if (!item.formRef) return
        item.formRef.validate((valid) => {
            if (valid) {
              if(item.text=="保存") {
                api.addBill({
                  "pay": item.numberValidateForm.deposit,
                  "give": item.numberValidateForm.free
                }).then(async function (res_) {
                  search_it()
                })
              }else if(item.text=="保存修改"){
                api.editBill({
                  "uuid":item.uuid,
                  "pay":item.numberValidateForm.deposit,
                  "give":item.numberValidateForm.free
                }).then(async function (res_) {
                  search_it()
                })
              }
                item.disabled = true
                item.text = "修改"
            } else {
                console.log('error submit!')
                return false
            }
        })
    }



}
</script>
<style>
.time {
    font-size: 12px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 0;
    min-height: auto;
}

.image {
    width: 100%;
    display: block;
}
</style>