<template>
    <el-card class="box-card">
        <template #header>
            <div class="card-header">
                <span style="font-size:20px">公告管理</span>
                <el-button type="primary" @click="dialogVisible = true">发布新公告</el-button>
                <el-dialog v-model="dialogVisible" title="编辑公告" width="30%" :before-close="handleClose">
                    <el-input v-model="input" :autosize="{ minRows: 4 }" type="textarea"   placeholder="请输入公告：" />
                    <template #footer>
                        <span class="dialog-footer">
                            <el-button @click="dialogVisible = false" >取消</el-button>
                            <el-button type="primary" @click="createNotice">
                                发布
                            </el-button>
                        </span>
                    </template>
                </el-dialog>
            </div>
        </template>
        <el-timeline>
            <el-timeline-item :timestamp="item.date" v-for="(item, index) in tableData" :key="index" placement="top">
                <el-card>
                    <h4>{{item.content}}</h4>
                </el-card>
            </el-timeline-item>
        </el-timeline>
    </el-card>
</template>
  
<script  lang="ts" setup>
import { ref } from 'vue'
import { ElMessageBox } from 'element-plus'
import {api} from "@/api/admin1";
import router from "@/router";

const createNotice = async () => {
  await api.createNotice({
      "content":input.value
  }).then(function (res) {
       search_it()
  })
  dialogVisible.value = false
}
const input = ref('')

const tableData=ref([])
const dialogVisible=ref(false)
const search_it = async () => {
  await api.selectNotice({

  }).then(function (res_){
    var tableData_ = [];
    const res = res_.data;
    var list = res.list;
    const length = list.length
    for (let index = 0; index < length; index++) {
      tableData_.push({
        "date":list[index].date,
        "content": list[index].content
      })
    }
    tableData.value = tableData_
  })
}
search_it()


const handleClose = (done) => {
    ElMessageBox.confirm('确定要关闭公告编辑吗?此操作会失去所编辑的文字')
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}
</script>

<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>

<style>
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.box-card {
    width: 94%;
    margin: 2%;
}
</style>