<template>
  <el-row :gutter="20" justify="center">
    <el-col :span="6">
      <el-card class="box-card-data">
        <template #header>
          <div class="card-header">
            <span>昨日收入</span>
          </div>
        </template>
        <h3>
          <el-icon color="#6699CC">
            <Coin />
          </el-icon>
          1000 $
        </h3>
      </el-card>
    </el-col>

    <el-col :span="6">
      <el-card class="box-card-data">
        <template #header>
          <div class="card-header">
            <span>昨日发放问卷数</span>
          </div>
        </template>
        <h3>
          <el-icon color="#6699CC">
            <Message />
          </el-icon>
          1000 份
        </h3>
      </el-card>
    </el-col>


    <el-col :span="6">
      <el-card class="box-card-data">
        <template #header>
          <div class="card-header">
            <span>昨日回答问卷数</span>
          </div>
        </template>
        <h3>
          <el-icon color="#6699CC">
            <Opportunity />
          </el-icon>
          200 份
        </h3>
      </el-card>
    </el-col>


  </el-row>

  <el-row :gutter="20" justify="center">
    <el-col :span="9">
      <el-card>
        <v-chart class="chart" :option="option_0" />
      </el-card>
    </el-col>
    <el-col :span="9">
      <el-card>
        <v-chart class="chart" :option="option_1" />
      </el-card>
    </el-col>

  </el-row>
  <el-row justify="center">
    <el-col :span="18">
      <el-card>
        <v-chart class="chart" :option="option_2" />
      </el-card>
    </el-col>

  </el-row>
  <el-row justify="center">
    <el-col :span="18">
      <el-card>
        <v-chart class="chart" :option="option_3" />
      </el-card>
    </el-col>

  </el-row>
</template>
<script>
import { ref, defineComponent } from "vue"
import { use } from "echarts/core";
import { ToolboxComponent, LegendComponent, TitleComponent, TooltipComponent, GridComponent, } from 'echarts/components';
import { PieChart, LineChart, BarChart, } from 'echarts/charts';
import { LabelLayout, UniversalTransition, } from 'echarts/features';
import { CanvasRenderer } from 'echarts/renderers';
import VChart from "vue-echarts";
use([
  ToolboxComponent,
  LegendComponent,
  TitleComponent,
  TooltipComponent,
  GridComponent,
  PieChart,
  BarChart,
  LineChart,
  CanvasRenderer,
  UniversalTransition,
  LabelLayout
]);
export default defineComponent({
  name: "echarts",
  components: {
    VChart
  },
  setup: () => {
    const option_0 = ref({
      title: {
        text: "收入情况",
        left: "center"
      },
      legend: {
        top: 'bottom'
      },
      toolbox: {
        show: true,
        feature: {
          mark: { show: true },
          // dataView: { show: true, readOnly: false },
          restore: { show: true },
          saveAsImage: { show: true }
        }
      },
      series: [
        {
          name: 'Nightingale Chart',
          type: 'pie',
          radius: [50, 250],
          center: ['50%', '50%'],
          roseType: 'area',
          itemStyle: {
            borderRadius: 8
          },
          data: [
            { value: 30, name: '租金收入' },
            { value: 20, name: '广告收入' },
            { value: 20, name: '流量收入' },
            { value: 20, name: '赞助收入' },
            { value: 20, name: '其他收入' },
            // { value: 26, name: 'rose 6' },
            // { value: 22, name: 'rose 7' },
            // { value: 18, name: 'rose 8' }
          ]
        }
      ]
    })
    const option_1 = ref({
      title: {
        text: '从各广告商收入占比',
        left: 'center'
      },
      tooltip: {
        trigger: 'item'
      },
      legend: {
        orient: 'vertical',
        left: 'left'
      },
      series: [
        {
          name: 'Access From',
          type: 'pie',
          radius: '50%',
          data: [
            { value: 300, name: '爱奇艺' },
            { value: 1000, name: '腾讯' },
            { value: 580, name: '阿里' },
            { value: 484, name: 'CSDN' },
            { value: 300, name: '京东' }
          ],
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    })
    const option_2 = ref({
      title: {
        text: '本周收入与上周收入对比'
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: ['本周收入', '上周收入']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          name: '上周收入',
          type: 'line',
          stack: 'Total',
          data: [150, 232, 201, 154, 190, 330, 410]
        },
        {
          name: '本周收入',
          type: 'line',
          stack: 'Total',
          data: [320, 332, 301, 334, 390, 330, 320]
        },

      ]
    })
    const option_3 = ref(
      {
        title: {
          text: '本周各问卷类型发送频率'
        },
        xAxis: {
          type: 'category',
          data: ['美食', '学习', '游戏', '健康', '运动', '读书', '意向', '养生', '购物', '跑鞋', '恋爱', '房价', '选举', '答题', '音乐', '安全', '育儿', '亲子', '数码', '科学', '影视',]
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            data: [120, 200, 150, 80, 70, 110, 130, 120, 200, 150, 80, 70, 110, 130, 120, 200, 150, 80, 70, 110, 130,],
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
              color: 'rgba(180, 180, 180, 0.2)'
            }
          }
        ]
      }
    )
    return { option_0, option_1, option_2, option_3 }
  }
})
</script>
<style>
.chart {
  height: 600px;
}

/* .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.box-card-data {
  width: 480px;
}
*/

.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}
</style>
  