<template>
  <el-card class="box-card">
    <el-row>
      <el-col>
        <el-table v-loading="loading" :data="tableData" style="width: 90%;margin-top: 2%;">
          <el-table-column type="expand">
            <template #default="props">
              <div m="4" style="margin-left: 50px;font-size: 20px;">
                <div style="margin-top:20px">
                  <span>{{ props.row.organization }} </span>
                  <el-divider direction="vertical" />
                  <span>{{ props.row.birthday }} </span>
                  <el-divider direction="vertical" border-style="dashed" />
                </div>
                  <span style="font-size:15px">个人简介：{{ props.row.brief_introduction }} </span>
                <el-divider border-style="dashed" />

                <h3 style="font-size: 20px;margin-left:20px;margin-top: 20px;">近三日消费情况</h3>
                <el-table :data="props.row.list">
                  <el-table-column label="用户名" prop="name" />
                  <el-table-column label="用户地址" prop="address" />
                  <el-table-column label="总群组数" prop="cluster_number" />
                  <el-table-column label="分配类型" prop="type" :formatter="stateFormat" />
                  <el-table-column label="分配数量" prop="number" />
                  <el-table-column label="消费总金额" prop="money" ><Trend flag="up">12.5%</Trend></el-table-column>
                </el-table>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="租户姓名" prop="name" />
          <el-table-column label="累计消费金额" prop="sumconsume" />
          <el-table-column label="余额" prop="deposit" />
          <el-table-column label="操作" #="{ row }">
            <el-icon :size="30" color="#6699CC" @click="edit(row)">
              <EditPen />
            </el-icon>
            <el-icon style="margin-left:10px" :size="30" color="#6699CC" @click="delit(row)">
              <Delete />
            </el-icon>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>

  </el-card>


</template>
  
<script lang="ts" setup>
import { api } from '@/api/admin1'
import { ref, computed, inject } from 'vue'
import router from '@/router';
import { VueCookies } from 'vue-cookies';
import { ElMessageBox } from "element-plus";
const loading = ref(true)
const $cookies = inject<VueCookies>("$cookies")

const edit = (row) => {
  $cookies.set('tenent_uuid', row.uuid )
  router.push('/v2/admin/edit')
}

const tableData = ref([])
const tableData2 = ref([])

const search_it = () => {
  api.query({
    "name": "",
    "pageNum": 1,
    "pageSize": 10, //$cookies.get('uuid')
  }).then(async function (res_) {
    var tableData_ = [];
    const res = res_.data;
    var list = res.list;
    var list1 = [];
    const length = list.length
    tableData2.value = []
    for (let index = 0; index < length; index++) {
      await api.queryCost({
        "tenant_uuid": list[index].uuid
      }).then(function (res_1) {
        const res1 = res_1.data;
        list1 = res1.list;
      })
      tableData_.push({
        name: list[index].name,
        sumconsume: list[index].totalcost,
        deposit: list[index].balance,
        uuid: list[index].uuid,
        organization: list[index].organization,
        brief_introduction: list[index].brief_introduction,
        birthday: list[index].birthday,
        list: list1,
      })
    }
    tableData.value = tableData_
    loading.value = false
  })
}

search_it()

const stateFormat = (row, column) => {
  if (row.type == 1) {
    return '问卷'
  } else {
    return '群组'
  }
}


const delit = async (row) => {
  const uuid = row.uuid
  var status = 0
  await api.canDelete({
    "uuid": uuid
  }).then(function (res) {
    status = res.data.status;
  })
  if (status == 1) {
    ElMessageBox.confirm('你确定要删除吗')
      .then(async () => {
        await api.delete({
          "uuid": uuid
        }).then(function (res) {
          search_it()
        })

      })
      .catch(() => {

      })
  } else {
    ElMessageBox.alert('该租户尚有其他关联,暂时不能删除！')
  }
}







</script>
<style scoped>
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
}
</style>
