<template>
  <div>
    <div class="container">
      {{ upload_file || "导入" }}
      <input
          type="file"
          accept=".xls,.xlsx"
          class="upload_file"
          @change="readExcel($event)"
      />

    </div>
  </div>
</template>

<script lang="ts" setup>
import * as XLSX from 'xlsx'
import { ref } from 'vue'
const upload_file=ref("")
const lists=ref([])
const  submit_form=() =>{
  // 给后端发送请求，更新数据
  console.log(lists.value);
  console.log("假装给后端发了个请求...");
}
const  readExcel=(e)=>{
  // 读取表格文件

  const files = e.target.files;
  if (files.length <= 0) {
    return false;
  } else if (!/\.(xls|xlsx)$/.test(files[0].name.toLowerCase())) {

    return false;
  } else {
    // 更新获取文件名
   upload_file.value = files[0].name;
  }

  const fileReader = new FileReader();
  fileReader.onload = ev => {
    try {
      const data = ev.target.result;
      const workbook = XLSX.read(data, {
        type: "binary"
      });
      const wsname = workbook.SheetNames[0]; //取第一张表
      const ws = XLSX.utils.sheet_to_json(workbook.Sheets[wsname]); //生成json表格内容
      lists.value = [];
      // 从解析出来的数据中提取相应的数据
      ws.forEach(item => {
        lists.value.push({
          username: item["用户名"],
          phone_number: item["手机号"]
        });
      });
      // 给后端发请求
      submit_form();
    } catch (e) {
      return false;
    }
  };
  fileReader.readAsBinaryString(files[0]);
}

</script>
<style>
.container {
  border: none;
  border-radius: 4px;
  background-color: #409eff;
  height: 40px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  min-width: 80px;
  *zoom: 1;
}

.upload_file {
  font-size: 20px;
  opacity: 0;
  position: absolute;
  filter: alpha(opacity=0);
  width: 60px;
}
</style>
