<template>
  <div class="login-container">
    <el-card class="box-card">
      <el-form ref="formRef" :model="form" :rules="rules">
        <h2 class="title">注册</h2>
        <div class="mb-2 flex items-center text-sm">
          您注册的身份是
          <el-radio-group v-model="form.role_id" class="ml-4">
            <el-radio label="1"  size="large" value="2" >租户</el-radio>
            <el-radio label="2"    size="large" value="4" >答者</el-radio>
            <el-radio label="3"   size="large" value="3" >用户</el-radio>
          </el-radio-group>
        </div>
        <el-form-item prop="phoneNumber">
          <el-input
              class="inputBox"
              v-model="form.phone"
              placeholder="请输入手机号"
          />
        </el-form-item>
        <el-form-item prop="auth_code">
          <el-input
              class="inputBox"
              v-model="form.auth_code"
              placeholder="请输入验证码"
              style="width: 300px"
          />
          <el-button @click="getCode">获取验证码</el-button>
        </el-form-item>
        <el-form-item prop="username">
          <el-input
              class="inputBox"
              v-model="form.username"
              placeholder="请输入用户名"
          />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
              class="inputBox"
              type="password"
              v-model="form.password"
              placeholder="请输入密码"
              show-password
          />
        </el-form-item>
        <el-form-item prop="passwordConfirm">
          <el-input
              class="inputBox"
              type="password"
              v-model="form.passwordConfirm"
              placeholder="请确认密码"
              show-password
          />
        </el-form-item>
        <el-form-item >
          <el-button class="submit" type="primary" @click="submit"
          >注册</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import { useStore } from "vuex";
import { api } from "@/api/login";
import router from "@/router";

const store = useStore();
const form = ref({
  auth_code:"",
  phone: "",
  username: "",
  password: "",
  passwordConfirm: "",
  role_id:4,
});
const getCode = async () => {
  await api.getConfirmCode({phone: form.value.phone}).then(function (res){
    //校验成功部分待定
  }).catch(err => {
    console.log(err)
  })
}
// 给表单绑定规则
const rules = ref({
  phone:[
    {
      required: true,
      message: "请输入手机号",
      trigger: "blur",
    }
  ],

  username: [
    {
      required: true,
      message: "请输入用户名",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "请输入密码",
      trigger: "blur",
    },
  ],
  passwordConfirm: [
    {
      required: true,
      message: "请确认密码",
      trigger: "blur",
    },
  ],
  auth_code: [
    {
      message: "请输入验证码",
      trigger: "blur",
    },
  ],
});

const formRef=ref(null)
const submit =()=>{
  if(form.value.password!==form.value.passwordConfirm){
    alert("两次密码不一致")
  }else {
    formRef.value.validate(async (valid) => {
      if (valid) {
        console.log(form.value);
        await api.register(form.value).then(function (res){
          //注册成功的描述
          router.push("login")
        })
      } else {
        console.log("error submit!!");
        return false;
      }
    });
  }
}
</script>
<style lang="scss">
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/登录界面-背景.png");
}

.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 20px;
}

/* 用户登陆标题 */
.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* 输入框 */
.inputBox {
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  margin: auto;
  margin-top: 150px;
  margin-right:60%;
  width: 25%;
  color: rgb(157, 219, 248);
}
</style>
