<template>
    <el-card class="box-card" style="width:95%;margin:2%;">
        <template #header>
            <div class="card-header">
                <el-space :size=10 style="margin-top:-10px">
                    <el-icon :size="30">
                        <Back />
                    </el-icon>
                    <el-divider direction="vertical" />
                    <span style="font-size:25px">问卷分析</span>
                </el-space>
            </div>
        </template>
        <Tabs>
            <TabPane label="单体分析" icon="ios-help">
                <div>
                    <el-row justify="center">
                        <span style="font-size:20px">《关于高校食堂满意度的调查问卷》</span>
                    </el-row>
                    <el-row justify="center">
                        <el-card style=" width:1200px;margin-top:1%">
                            <template #header>
                                <div class="card-header">
                                    <span style="font-size:15px">1.您对一食堂、二食堂的态度是？</span>
                                </div>
                            </template>
                            <el-table :data="tableData" style="width: 100%">
                                <el-table-column prop="name" label="答者姓名" width="120" />
                                <el-table-column prop="content" label="回答" width="780" />
                            </el-table>
                        </el-card>
                    </el-row>
                    <el-row justify="center">
                        <el-card style=" width:1200px;margin-top:1%">
                            <template #header>
                                <div class="card-header">
                                    <span style="font-size:15px">2.您更喜欢一食堂还是二食堂？</span>
                                </div>
                                <div style="background-color:aliceblue;padding: 10px;border-radius: 10px;">
                                    <el-row>
                                        <el-col :span="2">
                                            <span>一食堂：</span>
                                        </el-col>
                                        <el-col :span="22">
                                            <el-progress :percentage="20" />
                                        </el-col>
                                    </el-row>

                                    <el-row style="margin-top:10px">
                                        <el-col :span="2">
                                            <span>二食堂：</span>
                                        </el-col>
                                        <el-col :span="22">
                                            <el-progress :percentage="70" />
                                        </el-col>
                                    </el-row>


                                </div>
                            </template>

                        </el-card>
                    </el-row>
                </div>
            </TabPane>
            <TabPane label="分类分析" icon="ios-git-network">
                <div>
                    <el-row justify="center">
                        <span style="font-size:20px">《关于高校食堂满意度的调查问卷》</span>
                    </el-row>
                    <el-divider></el-divider>
                    <el-row justify="center">
                        <el-cascader :options="options" style="width:600px" clearable placeholder="请选择" />
                    </el-row>
                    <el-row justify="center" style="margin-top:10px">
                        <el-button type="primary">一食堂</el-button>
                        <el-button type="primary">二食堂</el-button>
                    </el-row>
                    <el-divider></el-divider>
                    <el-row justify="center" style="margin-top:10px">
                        <el-card style=" width:900px;margin-top:1%">
                            <template #header>
                                <div class="card-header">
                                    <span style="font-size:15px">2.您的学院是？</span>
                                </div>
                                <div style="background-color:aliceblue;padding: 10px;border-radius: 10px;">
                                    <el-row>
                                        <el-col :span="4">
                                            <span>软件学院：</span>
                                        </el-col>
                                        <el-col :span="20">
                                            <el-progress :percentage="20" />
                                        </el-col>
                                    </el-row>

                                    <el-row style="margin-top:10px">
                                        <el-col :span="4">
                                            <span>计算机学院：</span>
                                        </el-col>
                                        <el-col :span="20">
                                            <el-progress :percentage="15" />
                                        </el-col>
                                    </el-row>
                                    <el-row style="margin-top:10px">
                                        <el-col :span="4">
                                            <span>文法学院：</span>
                                        </el-col>
                                        <el-col :span="20">
                                            <el-progress :percentage="33" />
                                        </el-col>
                                    </el-row>
                                    <el-row style="margin-top:10px">
                                        <el-col :span="4">
                                            <span>建筑学院：</span>
                                        </el-col>
                                        <el-col :span="20">
                                            <el-progress :percentage="32" />
                                        </el-col>
                                    </el-row>

                                </div>
                            </template>

                        </el-card>
                    </el-row>

                </div>
            </TabPane>
            <TabPane label="数据大屏" icon="ios-laptop">
                <div>
                    <el-row justify="center">
                        <span style="font-size:20px">《关于高校食堂满意度的调查问卷》</span>
                    </el-row>
                    <el-divider></el-divider>

                    <el-row :gutter="20">
                        <el-col :span="6">
                            <el-card>
                                <template #header>
                                    <div class="card-header">
                                        <span style="font-size:15px">1.您对一食堂、二食堂的态度是？</span>
                                    </div>
                                </template>
                            </el-card>
                        </el-col>
                        <el-col :span="12">
                            <el-card>
                                <template #header>
                                    <div class="card-header">
                                        <span style="font-size:15px">问卷来源</span>
                                    </div>
                                </template>
                            </el-card>
                        </el-col>
                        <el-col :span="6">
                            <el-card>
                                <template #header>
                                    <div class="card-header">
                                        <span style="font-size:15px">2.您的学院是？</span>
                                    </div>
                                </template>
                            </el-card>
                        </el-col>
                    </el-row>
                    <el-row style="margin-top:1%" :gutter="20" justify="center">
                        <el-col :span="12">
                            <el-card></el-card>
                        </el-col>
                        <el-col :span="12">
                            <el-card></el-card>
                        </el-col>
                    </el-row>
                </div>
            </TabPane>
        </Tabs>






    </el-card>
</template>
<script setup>
const tableData = [
    {
        name: '张三',
        content: '我觉得一食堂很好吃，二食堂不好吃',
    },
]
const options = [
    {
        value: '1',
        label: '您更喜欢一食堂还是二食堂？',
    },
    {
        value: '2',
        label: '你的学院是？',
    }]
</script>
<style>
.flex-grow {
    flex-grow: 1;
}
</style>