<template>
    <el-card class="box-card" style="width:95%;margin:2%">
        <template #header>

            <div class="card-header">
                <el-space :size=10>
                    <el-icon :size="30"><Back /></el-icon> <el-divider direction="vertical" />
                    <span style="font-size:20px">我的问卷</span>
                    <el-input></el-input>
                    <el-button type="primary">搜索</el-button>
                </el-space>
            </div>
        </template>
        <el-space wrap>
            <el-card v-for="(item, index) in data" class="box-card" style="width: 300px">
                <template #header>
                    <div class="card-header">
                        <span style="font-size:20px">{{ item.name }}</span>
                    </div>
                </template>
                <el-image style="width:100%;height:200px" :src="item.url">
                </el-image>
                <el-divider />
                <span>{{ item.type }}</span>
                <el-divider />
                <el-row justify="center">
                    <el-button type="primary" style="width:90px">预览</el-button>
                    <el-button type="primary" @click="dialogTableVisible = true" style="width:90px">选择</el-button>
                </el-row>
            </el-card>
        </el-space>
        <el-dialog v-model="dialogTableVisible" title="请设置问卷时间" style="width:40%">
            <span style="font-size:20px;text-align: center;">您选择了：《高校满意度调查问卷》
            </span><br />
            <el-date-picker style="margin-top:20px;width:100%" v-model="value1" type="datetimerange"
                range-separator="To" start-placeholder="开始时间" end-placeholder="结束时间" />
            <el-row justify="center">
                <el-button type="primary" style="margin-top:20px">确定</el-button>
            </el-row>
        </el-dialog>
    </el-card>
</template>
<script setup>
import { ref } from 'vue'
const dialogTableVisible = ref(false)
const value1 = ref < [Date, Date] > ([
    new Date(2000, 10, 10, 10, 10),
    new Date(2000, 10, 11, 10, 10),
])
const data = ref([
    {
        name: '高校食堂满意度调查问卷',
        url: 'https://img0.baidu.com/it/u=3072632606,1018375860&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1668877200&t=081f59d7bee82928e64601e5695ab9fe',
        type: '用来调查某个高校学生针对本校食堂的满意度'
    },
    {
        name: '高校恋爱调查问卷',
        url: 'https://img2.baidu.com/it/u=2195750606,1495364033&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1668877200&t=b360291ba0eb89cc873a7002111a03d1',
        type: '用来调查某个高校学生的恋爱观与恋爱情况'
    },
    {
        name: '关于原神了解程度的调查',
        url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.dtstatic.com%2Fuploads%2Fblog%2F202108%2F30%2F20210830141330_cb609.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.dtstatic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671361667&t=b29fc555671e9fdf6751f64cbd38d72c',
        type: '用来调查被调查群体对《原神》的了解程度'
    }
])

</script>