<template>
    <el-row justify="center">
        <el-card class="box-card" style="width:90%;margin-top: 2%;">
            <template #header>
                <div class="card-header">
                    <el-row>
                        <el-col :span="2">
                            <el-space :size="10">
                                <el-icon :size="30">
                                    <Back />
                                </el-icon>
                                <el-divider direction="vertical" />
                            </el-space>
                        </el-col>
                        <el-col :span="22">
                            <el-steps :active="1">
                                <el-step title="填写问卷信息" description="填写问卷名称、封面等内容" />
                                <el-step title="编辑问卷内容" description="编辑问卷的问题" />
                                <el-step title="完成创建" description="问卷创建完成" />
                            </el-steps>
                        </el-col>
                    </el-row>




                </div>
            </template>
            <el-carousel :autoplay="false" arrow="always" height="800px">
                <el-carousel-item>
                    <editinfo></editinfo>
                </el-carousel-item>
                <el-carousel-item>
                    <el-scrollbar height="800px">
                        <editquestion></editquestion>
                    </el-scrollbar>
                </el-carousel-item>
                <el-carousel-item>
                    <editsuccess>
                    </editsuccess>

                </el-carousel-item>
            </el-carousel>
        </el-card>
    </el-row>


</template>
<script lang="ts">
import editinfo from './editinfo.vue'
import editquestion from './editquestion.vue';
import editsuccess from './editsuccess.vue'
export default {
    components: {
        editinfo,
        editquestion,
        editsuccess
    }
}
</script>
