<template>
  <div class="login-container">
    <el-card class="box-card">
      <el-form ref="formRef" :model="form" :rules="rules">
        <h2 class="title">找 回 密 码</h2>
        <el-form-item prop="username">
          <el-input
              class="inputBox"
              v-model="form.phone"
              placeholder="请输入手机号"
          />
        </el-form-item>
        <el-form-item prop="confirmCode">
          <el-input
              class="inputBox"
              v-model="form.auth_code"
              placeholder="请输入验证码"
              style="width: 300px"
          />
          <el-button @click="sendAlready">获取验证码</el-button>
        </el-form-item>
        <el-form-item>
          <el-button class="submit" type="primary" @click="handleLogin"
          >找回密码</el-button
          >
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import { useStore } from "vuex";
import { api } from "@/api/login";
import router from "@/router";


const store = useStore();
const form = ref({
  phone: "",
  auth_code: "",
});

const sendAlready = async () => {
  await api.getConfirmCode({phone: form.value.phone}).then(function (res){
    //校验成功部分待定
  }).catch(err => {
    console.log(err)
  })
}
// 给表单绑定规则
const rules = ref({
  phone: [
    {
      required: true,
      message: "请输入用户名",
      trigger: "blur",
    },
  ],
  auth_code: [
    {
      required: true,
      message: "请输入密码",
      trigger: "blur",
    },
  ],
});


// let url = window.location.href;
// let str = url.split("/");
// let question_id = str[str.length - 1];
// await PostAnswer({
//   answerInformation: answers.value.answerInformation,
//   questionnaireId: question_id,
//   personId: answers.value.userId,
//   teacher: answers.value.teacher,
//   school: answers.value.school,
// }).then(function (res) {
//   router.replace("closeAns")
// });
// 表单校验？？
const formRef = ref(null);
const handleLogin = () => {
  //非测试环境下需要放到后面去
  store.commit("idInfo/setUserId",form.value.phone)
  // router.push("retSetPassWord")


  formRef.value.validate(async (valid) => {
    if (valid) {
      console.log(form.value);
      await api.CompareCode(form.value).then(function (res){
        //需要调整
        router.push("retSetPassWord")
      })
    } else {
      console.log("error submit!!");
      return false;
    }
  });
};





</script>
<style lang="scss">
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/登录界面-背景.png");
}

.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 20px;

}

/* 用户登陆标题 */
.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* 输入框 */
.inputBox {
  height: 50px;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  margin: auto;
  margin-top: 150px;
  margin-right:60%;
  width: 25%;
  color: rgb(157, 219, 248);
}
</style>
