<template>
  <div class="login-container">
    <el-card class="box-card">
      <el-form ref="formRef" :model="form" :rules="rules">
        <h2 class="title">登 录</h2>
        <el-form-item prop="username">
          <el-row :gutter="20" style="margin-left: calc(2vw)">
            <el-col :span="50">
              <router-link to="/loginWithConfirm">
                <p>验证码登陆</p>
              </router-link>
            </el-col>
          </el-row>
          <el-input class="inputBox" v-model="form.username" placeholder="请输入用户名或手机号" />
        </el-form-item>
        <el-form-item prop="password">
          <el-input class="inputBox" type="password" v-model="form.password" placeholder="请输入密码" show-password />
        </el-form-item>
          <el-row :gutter="20">
          <el-col :span="50">
              <router-link to="/register">立即注册</router-link>
            </el-col>
          <el-col :span="50">
              <router-link to="/forgetCode">忘记密码</router-link>
            </el-col>
          </el-row>
        <el-form-item>
          <el-button class="submit" type="primary" @click="handleLogin">登录</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script lang="ts" setup>
import { ref, inject } from "vue";
import { useStore } from "vuex";
import { api } from "@/api/login";
import router from "@/router";
import { VueCookies } from "vue-cookies";
import { api as ansapi } from "@/api/answerer";
const $cookies = inject<VueCookies>('$cookies')
const store = useStore();
const form = ref({
  username: "",
  password: "",
});
// 给表单绑定规则
const rules = ref({
  username: [
    {
      required: true,
      message: "请输入用户名",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "请输入密码",
      trigger: "blur",
    },
  ],
});
const formRef = ref(null);
const handleLogin = () => {
  // 本机测试要注释
  formRef.value.validate(async (valid) => {
    if (valid) {
      console.log(form.value);
      await api.login(form.value).then(async function (res_) {
        const res = res_.data
        store.commit('idInfo/setToken', res.uuid)
        $cookies.set('uuid', res.uuid)
        $cookies.set('roleId', res.roleId)
        switch (res.roleId) {
          case 1:
            router.push('/v2/admin')
            break;
          case 2:
            router.push('/v2/tenant')
            break;
          case 3:
            router.push('/v2/consumer')
            break;
          case 4:
            await ansapi.answerer_checkFirst({
              uuid : res.uuid,
            }).then(
              function (res_) {
                const res = res_.data
                if(res.jump === 1){
                  router.push("/v2/answerer/editself") 
                } else{
                  router.push("/v2/answerer") 
                }
              }
            )
            break;
          default:
            console.log("error submit!!");
            break;
        }
      })
    } else {
      console.log("error submit!!");
      return false;
    }
  });

};

</script>
<style lang="scss">
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/登录界面-背景.png");
}

.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 20px;

}

/* 用户登陆标题 */
.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* 输入框 */
.inputBox {
  height: 50px;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  margin: auto;
  margin-top: 150px;
  margin-right: 60%;
  width: 25%;
  color: rgb(157, 219, 248);
}
</style>
