<template>
  <div class="login-container">
    <el-card class="box-card">
      <el-form ref="formRef" :model="form" :rules="rules">
        <h2 class="title">登 录</h2>
        <el-form-item prop="phone">
          <el-row :gutter="20" style="margin-left: calc(2vw)">
            <el-col :span="50">
              <router-link to="/login">
                <p>账号密码登陆</p>
              </router-link>
            </el-col>
          </el-row>
          <el-input
              class="inputBox"
              v-model="form.phone"
              placeholder="请输入手机号"
          />
        </el-form-item>
        <el-form-item prop="auth_code">
          <el-input
              class="inputBox"
              v-model="form.auth_Code"
              placeholder="请输入验证码"
              style="width: 300px"
          />
          <el-button @click="getCode">获取验证码</el-button>
        </el-form-item>
        <el-row :gutter="20">
          <el-col :span="50">
            <router-link to="/register">立即注册</router-link>
          </el-col>
          <el-col :span="50">
            <router-link to="/forgetCode"><p>忘记密码</p></router-link>
          </el-col>
        </el-row>
        <el-button class="submit" type="primary" @click="handleLogin"
        >登录</el-button
        >
      </el-form>
    </el-card>
  </div>
</template>
<script lang="ts" setup>
import { ref, inject } from "vue";
import { useStore } from "vuex";
import { api } from "@/api/login";


import router from "@/router";
import { VueCookies } from "vue-cookies";
const $cookies = inject<VueCookies>("$cookies")
const store = useStore();
const form = ref({
  phone: "",
  auth_Code: "",
});
// 给表单绑定规则
const rules = ref({
  phone: [
    {
      required: true,
      message: "请输入手机号",
      trigger: "blur",
    },
  ],
  auth_code: [
    {
      message: "请输入验证码",
      trigger: "blur",
    },
  ],
});
const getCode = async () => {
  await api.getConfirmCode({phone: form.value.phone}).then(function (res){
    //校验成功部分待定
  }).catch(err => {
    console.log(err)
  })
}
const formRef = ref(null);
const handleLogin = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      console.log(form.value);
      await api.loginWithConfirm(form.value).then(function (res_){
        //需要调整
        const res = res_.data
        store.commit('idInfo/setToken',res.uuid)
        console.log(res);
        $cookies.set('uuid', res.uuid)
        $cookies.set('roleId', res.roleId)
        switch (res.roleId) {
            case 1:
              router.push('adminview')
              break;
            case 2:
              router.push('tenant')
              break;
            case 3:
              router.push('consumer')
              break;
            case 4:
              router.push("answerer")
              break;
            default:
              console.log("error submit!!");
              break;
          }
      })
    } else {
      console.log("error submit!!");
      return false;
    }
  });
};


</script>
<style lang="scss">
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/登录界面-背景.png");
}

.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 20px;

}

/* 用户登陆标题 */
.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* 输入框 */
.inputBox {
  height: 50px;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  margin: auto;
  margin-top: 150px;
  margin-right:60%;
  width: 25%;
  color: rgb(157, 219, 248);
}
</style>
