<template>
  <div class="login-container">
    <el-card class="box-card">
      <el-form ref="formRef" :model="form" :rules="rules">
        <h2 class="title">重 置 密 码</h2>
        <el-form-item prop="phone">
          <el-input
              class="inputBox"
              v-model="form.phone"
              disabled
              placeholder="手机号"
          />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
              class="inputBox"
              type="password"
              v-model="form.password"
              placeholder="请输入密码"
              show-password
          />
        </el-form-item>
        <el-form-item prop="passwordConfirm">
          <el-input
              class="inputBox"
              type="password"
              v-model="form.passwordConfirm"
              placeholder="请确认密码"
              show-password
          />
          <el-button class="submit" type="primary" @click="submit"
          >重置密码</el-button
          >
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import { useStore } from "vuex";
import { api } from "@/api/login";
import router from "@/router";

const store = useStore();
const form = ref({
  phone: store.state.idInfo.userId,
  password: "",
  passwordConfirm: "",
});
// 给表单绑定规则
const rules = ref({
   phone: [
    {
      required: true,
      message: "手机号",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "请输入密码",
      trigger: "blur",
    },
  ],
  passwordConfirm: [
    {
      required: true,
      message: "请确认密码",
      trigger: "blur",
    },
  ],
});
const formRef=ref(null)
const submit =()=>{
  //之后需要吧这句放到后面

   //store.commit("idInfo/setUserId","")
  if(form.value.password!==form.value.passwordConfirm){
    alert("两次密码不一致")
  }else {
    formRef.value.validate(async (valid) => {
      if (valid) {
        console.log(111111);
        await api.changePassword(form.value).then(function (res){
          //需要调整
          router.push("login")
        }).catch((err)=>{
          console.log(err);
        })
      } else {
        console.log("error submit!!");
        return false;
      }
    });
  }
}
</script>
<style lang="scss">
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/登录界面-背景.png");
}

.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 20px;

}

/* 用户登陆标题 */
.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* 输入框 */
.inputBox {
  height: 50px;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  margin: auto;
  margin-top: 150px;
  margin-right:60%;
  width: 25%;
  color: rgb(157, 219, 248);
}
</style>
