<template>
  <div style="text-align: center">
    <img src="../../assets/success.png" width="320" height="280" style="margin-top: 150px">
    <div style="margin-top: 50px"><h1>上传成功</h1></div>
    <div style="margin-top: 50px">
      <el-button @click="returnBack" size="large">继续设计</el-button>
      <el-button type="primary" @click="closeWindows" size="large" style="margin-left: 20px">
        <router-link to="/consumer/ques"><span style="color: black">退出问卷</span> </router-link></el-button>
    </div>
  </div>
</template>

<script setup>
import router from "@/router";

const returnBack = () => {
  router.push('createQuestionnaire')
}

const closeWindows = () => {
  window.close();
}
</script>

<style scoped>
</style>
