<template>
  <div style="text-align: center">
    <img src="../../assets/success.png" width="320" height="280" style="margin-top: 150px" alt="">
    <div style="margin-top: 50px"><h1>恭喜你完成了作答</h1></div>
    <div style="margin-top: 50px">
      <el-button type="primary" @click="closeWindows" size="large" style="margin-left: 20px">
        <router-link to="/consumer/ques"><span style="color: black">退出问卷</span> </router-link></el-button>
    </div>
  </div>
  <div style="margin-top: calc(1vh);text-align: center">
    您对本次回答的评价是：
    <el-rate
        v-model="value"
        :texts="['非常不满意', '不满意', '一般', '满意', '非常满意']"
        show-text
        @click="alertInfo"
    />
  </div>


  <div style="text-align: center;margin-top: calc(5vh)">
    <img src="@/assets/advertisement/娱乐/zuqiu.png" alt="" width="600" height="200" v-if="state===1">
    <img src="@/assets/advertisement/工作/jianji.png" alt="" width="600" height="200" v-if="state===2">
    <img src="@/assets/advertisement/服装/fuzhuangyinzi.png" alt="" width="600" height="200" v-if="state===0">
  </div>
</template>

<script setup>
import {ref} from "vue";
import { ElMessage } from 'element-plus'
const closeWindows = () => {
  window.open('about:blank','_self').close()
}
const state=ref(0)
const timer = setInterval(() => {
  //需要定时执行的代码
  state.value=(state.value+1)%3
},3000)
const value = ref()
const alertInfo = () => {
  ElMessage({
    message: '感谢您的反馈',
    type: 'success',
  })
}
</script>

<style scoped>
</style>
